<div class="add-product">
    {{#if errors}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-danger text-center">
            {{# each errors }}
                <p>{{this}}</p>
            {{/each}}
        </div>
        </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Admin Add Category</h1>
            <a href="/admin/category"class="btn btn-priramy"><div >Back to all category</div></a>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control" value="{{title}}">
                </div>
                <button class="btn btn-priramy">Submit</button>
            </form>
        </div>
    </div>
</div>
