<div class="admin">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/page">Logo </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="n2" href="/admin/product">Products</a></li>
                <li><a class="n3" href="/admin/user">Users</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="add-product">
    {{#if errors}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-danger text-center">
            {{# each errors }}
                <p>{{this}}</p>
            {{/each}}
        </div>
        </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Admin Add Product</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="">title</label>
                    <input type="text" name="title" class="form-control" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" class="form-control">
                        {{#each categories}}
                            {{#each this}}
                                <option value="{{this.slug}}">{{this.title}}</option>
                            {{/each}}
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" name="price" class="form-control" value="{{price}}">
                </div>
                <div class="form-group">
                    <label for="">Sale Price</label>
                    <input type="text" name="salePrice" class="form-control" value="{{salePrice}}">
                </div>
                <div class="form-group">
                    <label for="">Images</label>
                    <input type="file" name="images" class="form-control" id="img" value="{{images}}">
                    <img src="" id="imgPreview" alt="">
                </div>
                <button class="btn btn-priramy">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>
    function readURL(input) {
        if(input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgPreview').attr('src', e.target.result).width(100).height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    };

    $('#img').change(function() {
        readURL(this);
    });
</script>
