<div class="admin">
    <div class="container">
        <a class="" href="/admin/all-product"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
        <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
        <a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>
<div class="wrap-nav">
    <nav class="navbar navbar-default primary" role="navigation">
        <div class="navbar-admin">
            <ul class="nav navbar-nav ul-admin">
                <li class="ad-active"><a  href="/admin/all-product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/category">Category</a></li>
                <li><a href="/admin/product">AddProduct</a></li>
                <li><a href="/admin/user">history</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="wrap-product">
    <div class="list-products">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-md-4">
                                <ul class="list-pds-1">
                                    <li class="cl-brown">Display The List Of Products</li>
                                    <li class=""><a href="/admin/all-product">All Products</li></a>
                                    {{# each categorys}}
                                        {{# each this}}
                                            <li><a href="/admin/all-product/{{this.slug}}">{{this.title}}</a></li>
                                        {{/each}}
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="col-md-4 pd2">
                                <ul class="list-pds-2">
                                    <li class="cl-brown">Details Of Items</li>
                                    <li class=""><a href="">New Products</li></a>
                                    <li><a href="">Best Selling Goods</li></a>
                                    <li><a href="">Inventory</li></a>
                                    <li><a href="">Discount Products</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row sidebar-right"> 
                        <h1 class="text-center">Admin List {{#if categorySlug}}{{categorySlug}}{{ else }}Products{{/if}}</h1> 
                         <div class="row">
                            {{#each products}}
                                {{#each this}}
                                     <div class="col-md-3 set-product">
                                        <div class="card">
                                            <div class="img-all-pd"><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{this.name}}</h5>
                                                <p class="card-text">{{this.title}}</p>
                                                {{#if salePrice}}
                                                   <div class="all-pd-price">${{this.salePrice}}.00 
                                                        <span>${{this.price}}.00</span>
                                                    </div>
                                                {{ else }}
                                                    <div class="all-pd-price col-none">
                                                        ${{this.price}}.00
                                                    </div>
                                                {{/if}}
                                                
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{/each}}
                        </div>
                    </div> 
                </div>
            </div>
        </div>  
    </div>    
</div>

