<div class="admin">
    <div class="container">
        <a class="" href="/admin/all-product"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
        <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
        <a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>
<div class="wrap-nav">
    <nav class="navbar navbar-default primary" role="navigation">
        <div class="navbar-admin">
            <ul class="nav navbar-nav ul-admin">
                <li><a  href="/admin/all-product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li class="ad-active"><a href="/admin/category">Category</a></li>
                <li><a href="/admin/product">AddProduct</a></li>
                <li><a href="/admin/user">history</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="wrap-product">
    <div class="list-products">
        <div class="wrap-sidebar">
            <div class="row sidebar-category">
                {{#if successMsg}}
                    <div class="alert alert-success">{{this.successMsg}}</div>
                {{/if}} 
                <h1 class="text-center">Admin List Category</h1> 
                <div class="panel panel-default panel-table"> 
                    <div class="panel-heading pl-hd">
                        <div class="row">
                            <div class="col col-xs-6"> 
                                <h3 class="panel-title">Category Management</h3> 
                            </div>
                            <div class="col col-xs-6 text-right"> 
                                <a href="/admin/category/add-category">
                                    <button type="button" class="btn btn-sm btn-primary btn-create">Add A New Category</button>
                                </a>
                            </div>

                        </div>
                    </div> 
                    <div class="panel-body">
                    </div>
                    <div class="panel-body"> 
                        <table class="table table-bordered table-list table-product"> 
                            <thead> 
                                <tr class="list-category"> 
                                    <th>Category</th> 
                                    <th>Edit</th> 
                                    <th>Delete</th> 
                                </tr> 
                            </thead> 
                            <tbody class="admin-product">
                                {{# each categorys}}
                                    {{# each this}}
                                        <tr class="list-product">
                                            <td id="cate-title">{{this.title}}</td>
                                            <td id="cate-edit"><a href="/admin/category/edit-category/{{this._id}}" title=""> <i class="fas fa-edit"></i></td></a>                           
                                            <td id="cate-delete"><a href="/admin/category/delete-category/{{this._id}}" title=""> <i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                    {{/each}}
                                {{/each}}  
                            </tbody>
                        </table> 
                    </div>  <!-- end panel-body -->
                    <div class="panel-footer"> 
                        <div class="row"> 
                            <div class="col col-xs-4 page">Trang 1 của 5 </div> 
                            <div class="col col-xs-8 page-pagi"> 
                                <ul class="pagination pull-right">
                                </ul>  
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div> 
        </div>  
    </div>    
</div>

