<div class="add-product">
    {{#if errors}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-danger text-center">
            {{# each errors }}
                <p>{{this}}</p>
            {{/each}}
        </div>
        </div>
    {{/if}}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Admin Edit Product</h1>
            <a href="/admin/product"class="btn btn-priramy"><div >Back to all products</div></a>
            <form action="/admin/product/edit-product/{{id}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control" value="{{title}}">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select name="category" class="form-control">
                        {{#each categories}}
                            {{#each this}}
                                <option value="{{this.slug}}">{{this.title}}</option>
                            {{/each}}
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input type="text" name="price" class="form-control" value="{{price}}">
                </div>
                <div class="form-group">
                    <label for="">Sale Price</label>
                    <input type="text" name="salePrice" class="form-control" value="{{salePrice}}">
                </div>
                <div class="form-group">
                    <label for="">Current Images</label><br>
                    <img src="/images/product-img/{{id}}/{{images}}" alt=" No Image">
                </div>
                <div class="form-group">
                    <label for="">Upload Images</label>
                    <input type="file" name="images" class="form-control" id="img" value="
                    {{images}}"><br>
                    <img src="#" id="imgPreview" alt=" ">
                </div>
                <button class="btn btn-priramy">Submit</button>
            </form>
        </div>
        <hr>
        <!-- <h3 class="page-header">Gallery</h3>
        <ul class="gallery">
            {{#if galleryImages}}
                {{#each galleryImages}}
                    <li>
                        <img src="/images/product-img/{{id}}/gallery/thumbs/{{this.images}}" alt=" "> &nbsp;
                        <a class="confirmDeletion" href="/admin/product/delete-image/{{this}}?id={{id}}">delete</a>
                    </li>
                 {{/each}}
            {{/if}}
        </ul>
        <br><br>
        <form action="/admin/product/product-gallery/{{id}}" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        </form> -->
        
    </div> <!-- end container -->
</div>
<br><br>


<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script> -->
<script>
    function readURL(input) {
        // Privew Image
        if(input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#imgPreview').attr('src', e.target.result).width(100).height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    };

    $('#img').change(function() {
        readURL(this);
    });

    // Dropzone
    /*Dropzone.options.dropzoneForm = {
        acceptedFiles: "images/*",
        init: function() {
            this.on("queuecomplete", function(file) {
                setTimeout(function() {
                    location.reload()
                }, 1000);
            });
        }
    }*/
</script>
