<div class="admin">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/page"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
                <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
                <a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="n2" href="/admin/product">Products</a></li>
                <li><a class="n3" href="/admin/user">Users</a></li>
            </ul>
        </div>
    </nav>
</div>