<div class="admin">
    <div class="container">
        <a class="" href="/admin/all-product"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
        <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
        <a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>
<div class="wrap-nav">
    <nav class="navbar navbar-default primary" role="navigation">
        <div class="navbar-admin">
            <ul class="nav navbar-nav ul-admin">
                <li><a  href="/admin/all-product">Products</a></li>
                <li><a href="/admin/user">Users</a></li>
                <li><a href="/admin/category">Category</a></li>
                <li class="ad-active"><a href="/admin/add-product">AddProduct</a></li>
                <li><a href="/admin/user">history</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="wrap-product">
    <div class="list-products">
        <div class="wrap-sidebar">
            <div id="seccess" class="row sidebar-right">
                {{#if successMsg}}
                    <div class="alert alert-success">{{this.successMsg}}</div>
                 {{/if}} 
                <h1 class="text-center">Admin List Product</h1> 
                <div class="panel panel-default panel-table"> 
                    <div class="panel-heading pl-hd">
                        <div class="row">
                            <div class="col col-xs-6"> 
                                <h3 class="panel-title">商品管理や販売管理</h3> 
                            </div>
                            <div class="col col-xs-6 text-right"> 
                                <a href="/admin/product/add-product">
                                    <button type="button" class="btn btn-sm btn-primary btn-create">Add a New Product</button>
                                </a>
                            </div>

                        </div>
                    </div> 
                    <div class="panel-body">
                        <div class="btn btn-warning">All Products</div>
                        <span class="pd-qty">Quantity: <b>{{dem}}</b></span>
                        <form class="form-inline my-2 my-lg-0 text-right">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="panel-body"> 
                        <table class="table table-bordered table-list table-product"> 
                            <thead> 
                                <tr class="list-product"> 
                                    <th>ID</th> 
                                    <th>Thumbnail</th> 
                                    <th>name</th> 
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>salePrice</th>
                                    <th>Registration Date</th>
                                    <th><i class="fa fa-cog"></i></th>
                                </tr> 
                            </thead> 
                            <tbody class="admin-product">
                                {{# each products}}
                                    {{# each this}}
                                        <tr class="list-product">
                                            <td id="count">{{this.count}}</td>
                                            <td id="admin-img">
                                                <img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></td>
                                            <td id="admin-name">{{this.name}}</td>
                                            <td id="admin-name">{{this.category}}</td>
                                            <td id="admin-price">{{this.price}}.00</td>
                                            <td id="admin-salePrice">{{this.salePrice}}.00</td>
                                            <td id="admin-date">{{date}}</td>
                                            <td id="admin-delete">
                                                <a href="/admin/product/edit-product/{{this._id}}" class="btn btn-success">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="/admin/product/delete-product/{{this._id}}" class="del-product btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{/each}}  
                            </tbody>
                        </table> 
                    </div>  <!-- end panel-body -->
                    <div class="panel-footer"> 
                        <div class="row"> 
                            <div class="col col-xs-4 page">Trang 1 của 5 </div> 
                            <div class="col col-xs-8 page-pagi"> 
                                <ul class="pagination pull-right">
                                </ul>  
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div> 
        </div>  
    </div>    
</div>
<div class="buttonIcon"<i class="fas fa-chevron-up"></i></div>
<script>// kiem tra xem co muốn xoa ko
    $('a.del-product').on('click', function() {
        if (!confirm('Confirm deletion')) {
            return false;
        }
    });</script>
