<div class="admin">
    <div class="container">
        <a class="" href="/admin/all-product"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
        <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
        <a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>
<div class="wrap-nav">
    <nav class="navbar navbar-default primary" role="navigation">
        <div class="navbar-admin">
            <ul class="nav navbar-nav ul-admin">
                <li><a  href="/admin/all-product">Products</a></li>
                <li class="ad-active"><a href="/admin/user">Users</a></li>
                <li><a href="/admin/category">Category</a></li>
                <li><a href="/admin/product">AddProduct</a></li>
                <li><a href="/admin/user">history</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="wrap-user">
    <div class="container"> 
        <div class="row">
            {{#if successMsg}}
                <div class="alert alert-success">{{this.successMsg}}</div>
             {{/if}}  
            <h1 class="text-center">Admin List Users</h1> 
            <div class="col-md-10 col-md-offset-1"> 
                <div class="panel panel-default panel-table"> 
                    <div class="panel-heading"> 
                        <div class="row"> 
                            <div class="col col-xs-6"> 
                                <h3 class="panel-title">顧客リスト</h3> 
                            </div> 
                            <div class="col col-xs-6 text-right"> 
                            <a href="/user/signup">
                                <button type="button" class="btn btn-sm btn-primary btn-create">追加 user</button>
                            </a>
                            </div> 
                        </div> 
                    </div>
                    <div class="panel-body"> 
                        <table class="table table-striped table-bordered table-list"> 
                            <thead> 
                                <tr> 
                                    <th><em class="fa fa-cog"></em></th> 
                                    <th class="hidden-xs">ID</th> 
                                    <th>First Name</th> 
                                    <th>Last Name</th> 
                                    <th>Email</th> 
                                </tr> 
                            </thead> 
                            <tbody>
                                {{# each user}}
                                   {{# each this}}
                                        <tr>
                                            <td align="center">
                                                <a href="/admin/user/delete-user/{{this._id}}" class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                            </td> 
                                            <td class="count">{{this.count}}</td>
                                            <td>{{this.firstName}}</td> 
                                            <td>{{this.lastName}}</td> 
                                            <td>{{this.email}}</td> 
                                        </tr> 
                                    {{/each}}
                                {{/each}} 
                            </tbody>
                        </table> 
                    </div>  <!-- end panel-body --> 
                    <div class="panel-footer"> 
                        <div class="row"> 
                            <div class="col col-xs-4">Trang 1 của 5 </div> 
                            <div class="col col-xs-8"> 
                                <ul class="pagination pull-right"> 
                                    <li><a href="#">«</a></li> 
                                    <li><a href="#">1</a></li> 
                                    <li><a href="#">2</a></li> 
                                    <li><a href="#">3</a></li> 
                                    <li><a href="#">4</a></li> 
                                    <li><a href="#">5</a></li> 
                                    <li><a href="#">»</a></li> 
                                </ul>  
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>