<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<!-- file animate -->
	<link rel="stylesheet" href="/bootstrap/css/animate.css">
	<!-- file font-awesome -->
	<link rel="stylesheet" href="/font-awesome/css/all.css">
	<!-- file css -->
	<link rel="stylesheet" href="/css/style.css"> <!-- thay doi -->
	<link rel="stylesheet" type="text/css" href="/owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/owlcarousel/owl.theme.default.min.css">
<script type="text/javascript" src="/bootstrap/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<!-- {{> header }} -->
    {{{body}}}

<script type="text/javascript" src="/js/home.js"></script> <!-- thay doi -->
<script type="text/javascript" src="/js/catalog.js"></script> <!-- thay doi -->
<!-- file bootstrap -->
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<!-- file owlcarousel -->
<script src="/owlcarousel/owl.carousel.min.js"></script>

</body>
</html>
