{{> header1}}
<div class="toshiba">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="catagories">
					<ul class="catalog-list">
						<h3>Catagories</h3>
						<li class="acces open">Accessories
							<i class="fas fa-chevron-right"></i>
							<ul class="acces-item">
								<li><a href="">Cameras</a></li>
								<li><a href="">Software</a></li>
								<li><a href="">Phones & PDAs</a></li>
							</ul>
						</li>
						<li class="all-in open">All in one
							<i class="fas fa-chevron-right"></i>
							<ul class="all-in-item">
								<li><a href="">Music</a></li>
								<li><a href="">Photography</a></li>
							</ul>
						</li>
						<li class="gadgets open">Gadgets
							<i class="fas fa-chevron-right"></i>
							<ul class="gadget-item">
								<li><a href="">Watchets</a></li>
								<li><a href="">Eyewear</a></li>
							</ul>
						</li>
						<li class="gaming open">Gaming
							<i class="fas fa-chevron-right"></i>
							<ul class="gaming-item">
								<li><a href="">Mause</a></li>
								<li><a href="">Keyboard</a></li>
								<li><a href="">Headphone</a></li>
							</ul>
						</li>
						<li>Laptops & Computer</li>
						<li>Mac & Computers</li>
						<li>Printes & Ink</li>
						<li>TV & Audio</li>
						<li>Ultrabooks</li>
					</ul>
				</div>
				<div class="filter">
					<p class="fil">Filter</p>
					<ul class="list-filter"> 
						<li class="brand open"> Brand 
							<i class="fas fa-chevron-up"></i>
							<ul class="sub-list-check">
								<li><a href="">Accesi</a></li>
								<li><a href="">Bikis</a></li>
								<li><a href="">Elle</a></li>
								<li><a href="">Godo</a></li>
								<li><a href="">Jeana</a></li>
								<li><a href="">Ladora</a></li>
							</ul>
						</li>
						<li class="fil-color open"> Color
							<i class="fas fa-chevron-up"></i>
							<ul class="sub-list-color">
								<li><span class="col-blue"></span></li>
								<li><span class="col-red"></span></li>
								<li><span class="col-purple"></span></li>
								<li><span class="col-yellow"></span></li>
								<li><span class="col-brown"></span></li>
								<li><span class="col-black"></span></li>
								<li><span class="col-white"></span></li>
							</ul>
						</li>
						<li class="fil-price open"> Price
							<i class="fas fa-chevron-up"></i>
							<ul class="sub-list-price">
								<li><a href="">$100-$300</a></li>
								<li><a href="">Above $300</a></li>
								<li><a href="">Under $100</a></li>
							</ul>	
						</li>
					</ul>
				</div>
				<div class="sidebar-banner">
					<img src="/images/home-img/sidebar-banner_270x.jpg" alt="">
				</div>
				<div class="latest-products">
					<h3>Latest Products</h3>
					<div class="owl-latest owl-carousel owl-theme owl-loaded">
						<div class="latest-product-1 item" >
							{{# each latestProducts1}}
								<div class="latest latest-1">
									{{# each this}}
										<div class="latest-label product-label">
											<div class="img">
												<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
												<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="panel-vendor">
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
												</div>
												<div class="panel-name">
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
												</div>
												{{#if salePrice}}
													<div class="panel-price">${{this.salePrice}}.00
														<span>${{this.price}}.00</span>
													</div>
												{{ else }}
													<div class="panel-price col-none">${{this.price}}.00
													</div>
												{{/if}}
											</div>
										</div>
									{{/each}}
								</div> <!-- end panel-product-1 -->
							{{/each}}
						</div>	<!-- end latest-product-1 -->
						
						<div class="latest-product-2 item" >
							{{# each latestProducts2}}
								<div class="latest latest-1">
									{{# each this}}
										<div class="latest-label product-label">
											<div class="img">
												<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
												<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
												</a>
											</div>
											<div class="product-info">
												<div class="panel-vendor">
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
												</div>
												<div class="panel-name">
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
												</div>
												{{#if salePrice}}
													<div class="panel-price">${{this.salePrice}}.00
														<span>${{this.price}}.00</span>
													</div>
												{{ else }}
													<div class="panel-price col-none">${{this.price}}.00
													</div>
												{{/if}}
											</div>
										</div>
									{{/each}}
								</div> <!-- end panel-product-1 -->
							{{/each}}
						</div>	<!-- end latest-product-2 -->
					</div>
				</div>
			</div> <!-- end col 3 -->
			<div class="col-md-9">
				<div class="toshiba-theme">
					<img src="/images/home-img/banner-cat_1024x1024.jpg" alt="">
				</div>
				<div class="show-acc">
					<h2>Accessories Categories</h2>
				</div>
				<div class="acc-product">
					<div>
						<img src="/images/home-img/Camera_300x.jpg" alt="">
						<a href="">Cameras</a>
					</div>
					<div>
						<img src="/images/home-img/FlashDrive_220x.jpg" alt="">
						<a href="">Software</a>
					</div>
					<div>
						<img src="/images/home-img/Phone4_220x.jpg" alt="">
						<a href="">Phones & PDAs</a>
					</div>
					<div>
						<img src="/images/home-img/mp3-layer_370x.jpg" alt="">
						<a href="">MP3 Players</a>
					</div>
				</div>
				<h2>Accessories</h2>
				<div class="Accessories">
					<div class="acc-nav">
						<div class="sort-icons">
							<i class="fas fa-align-justify sort-active"></i>
							<i class="fas fa-list-ul"></i>
							<i class="fas fa-equals"></i>
							<i class="fas fa-minus"></i>
						</div>
						<div class="sort-name">
							<select name="sort" id="sort">
								<option value="">Sort-by Name->A-Z</option>
								<option value="">Sort-by Name->Z-A</option>
								<option value="">featured</option>
								<option value="">Price, Low To Hight</option>
								<option value="">Price, Hight To Low</option>
								<option value="">Date, Old To New</option>
								<option value="">Date, New To Old</option>
								<option value="">Best Seling</option>
							</select>
						</div>
						<span>Showing all 12 Items</span>
					</div>
				</div>
				<div class="accessories-show show-1 accessories-active">
					{{# each toshibaProducts}}
						<div class="row">
							{{# each this}}
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-tabs-1">
									<div class="accessories-1 tab-icons tab-icon-1 ">
										<div class="border-right"></div>
										<div class="product-vendor">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
										</div>						
										<div class="product-name">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
										</div>
										{{#if salePrice}}
											<div class="product-sale"><a href="">SALE</a></div>
										{{/if}}
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
										{{#if salePrice}}
											<div class="product-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-button">
												<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>

											<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
										</div>
									</div> 
								</div>  <!-- end col-tab-1 -->
							{{/each}}
						</div>	
					{{/each}}
				</div>	
				<div class="accessories-show show-2">
					{{# each toshibaProducts}}
						<div class="row">
							{{# each this}}
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-tabs-1">
									<div class="accessories-2 tab-icons tab-icon-1 ">
										<div class="border-right"></div>
										<div class="product-vendor">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
										</div>						
										<div class="product-name">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
										</div>
										{{#if salePrice}}
											<div class="product-sale"><a href="">SALE</a></div>
										{{/if}}
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
										{{#if salePrice}}
											<div class="product-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-button">
												<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>

											<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
										</div>
									</div> 
								</div>  <!-- end col-tab-1 -->
							{{/each}}
						</div>	
					{{/each}}
				</div><!--  end accessories-show 2-->
				<div class="accessories-show show-3">
					{{# each toshibaProducts}}
						<div class="row">
							{{# each this}}
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-tabs-1">
									<div class="accessories-3 tab-icons tab-icon-1 ">
										<div class="border-right"></div>
										<div class="product-vendor">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
										</div>						
										<div class="product-name">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
										</div>
										{{#if salePrice}}
											<div class="product-sale"><a href="">SALE</a></div>
										{{/if}}
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
										{{#if salePrice}}
											<div class="product-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-button">
												<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>

											<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
										</div>
									</div> 
								</div>  <!-- end col-tab-1 -->
							{{/each}}
						</div>	
					{{/each}}
				</div><!--  end accessories-show 3-->
				<div class="accessories-show show-4">
					{{# each toshibaProducts}}
						<div class="row">
							{{# each this}}
								<div class="bao">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										{{#if salePrice}}
											<div class="product-sale"><a href="">SALE</a></div>
										{{/if}}
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="show-4-img">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
										<div class="product-vendor">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
										</div>						
										<div class="product-name">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
										</div>
										<div class="show-4-start">
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
											<i class="far fa-star"></i>
										</div>
										<ul class="show-4-list">
											<li>Easy management</li>
											<li>Fast printing. Strong protection.</li>
											<li>Easy management. Efficient printing.</li>
											<li>The 2-line LCD display is simple to read and operate.</li>
											<li>Stay connected with easy mobile printing options</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
										{{#if salePrice}}
											<div class="product-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-button">
											<a data-toggle="modal" href='#modal-id'>
												<i class="fa fa-eye"> Quick View </i>
											</a>
											<div class="wishlist">
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div>
							{{/each}}
						</div>
					{{/each}}
				</div><!--  end accessories-show 4-->
				<!-- <div class="accessories-show show-4">
					{{# each productsAccessories}}
						<div class="row">
							{{# each this}}
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-tabs-1">
									<div class="accessories-4 tab-icons tab-icon-1 ">
										<div class="border-right"></div>
										<div class="product-vendor">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
										</div>						
										<div class="product-name">
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
										</div>
										{{#if salePrice}}
											<div class="product-sale"><a href="">SALE</a></div>
										{{/if}}
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
										{{#if salePrice}}
											<div class="product-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-button">
												<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>
				
											<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
										</div>
									</div> 
								</div>  end col-tab-1
							{{/each}}
						</div>	
					{{/each}}
				</div>end accessories-show 4 -->
			</div>
		</div>
	</div>
</div>
{{> footer}}