<div class="admin profile">
    <div class="container">
        <a class="" href="/"><img class="logo-admin" src="/images/logo.png" alt=""> </a>
        <span class="login-admin">Hello {{user.firstName}} {{user.lastName}}</span>
        
        {{# if admin}}
        	<div class="float-right">
				<a href="/admin/all-product" class="btn btn-primary">Page Admin</a>
			</div>
		{{/if}}
		<a class="logout-admin btn btn-warning" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
</div>

{{# if admin}}
	<h2 class="text-center">商品管理や販売管理へ行きましょう。</h2>

{{ else }}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="order">
			<h2>My Orders</h2>
			{{#if successMsg}}
			    <div class="alert alert-success">{{this.successMsg}}</div>
			{{/if}}
			{{#each orders}}
				<div class="panel panel-default orders-cart">
					<div class="panel-body">
						<ul class="list-group order-cart">
				            {{#each this.items}}
				            <div class="date1">{{date}}</div>
				                <li class="list-group-item border">
				                	<div class="order-img"><img src="/images/product-img/{{this.item._id}}/{{this.item.images}}" alt=""></div>
				                	<div class="order-title">{{this.item.title}}</div>
				                	<div class="order-qty">Qty: <span>{{this.qty}}</span></div>
				                	<div class="order-price">$<span class="">{{this.price}}</span></div>
				                	
				            	</li>
				            {{/each}}
				        </ul>
					</div>
					<div class="panel-footer">
						<strong>Total Price: ${{ this.cart.totalPrice }}</strong>
					</div>	
				</div>	
		        
		    {{/each}}
		</div>
	</div>
</div>
{{/if}}

