<div class="wrapper-form">
	<form action="" method="post" id="form-login">
		<h2>Webcome ログイン</h2>
		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{# each messages }}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}
		<div class="input-group">
			<input type="text" id="email" name="email" required="">
			<label class="click" for="userName">Username </label>
		</div>
		<div class="input-group">
			<input type="password" id="password" name="password" required="">
			<label class="click" for="password">Password </label>
		</div>
		<div class="input-group">
			<label for="checkbox" class="check1"> 
				<input type="checkbox" name="checkbox" class="checkbox1"> Remember Password
			</label>
		</div>
		<input type="hidden" name="_csrf" value="{{ csrfToken }}">
		<button type="submit">Login</button>
		<p>Don't i have account?<a href="/user/signup"> Sign Up</a></p>
	</form>
</div>

