<div class="container">
	<div class="wrapper">
		<form action="" method="post" id="form-toroku">
			<h2>Webcome 新規登録</h2>
			{{#if hasErrors}}
				<div class="alert alert-danger">
					{{# each messages }}
						<p>{{this}}</p>
					{{/each}}
				</div>
			{{/if}}	
			<div class="row">
			    <div class="col-md-3 col-md-offset-3">
			    	<label class="toroku" for="fName">First name </label>
			      	<input type="text" class="form-control" id="firstName" name="firstName">
			    </div>
			    <div class="col-md-3">
			    	<label class="toroku" for="lName">Last name </label>
			      	<input type="text" class="form-control" id="lastName" name="lastName">
			    </div>
			    <div class="col-md-6 col-md-offset-3">
			    	<label class="toroku" for="email">Email </label>
			      	<input type="text" class="form-control" id="email" name="email">
			    </div>
			    <div class="col-md-6 col-md-offset-3">
			    	<label class="toroku" for="password">Password</label>
			      	<input type="password" class="form-control" id="password" name="password">
			    </div>
			     <div class="col-md-6 col-md-offset-3 submit">
					<input type="hidden" name="_csrf" value="{{ csrfToken }}">
					<button type="submit">登録する</button>
					<p>Do you have an account?<a href="/user/signin"> Sign In</a></p>
				</div>
			</div>
		</form>
	</div>
</div>

