/* ----------------------toshiba--------------------------------- */
.toshiba {
    overflow: hidden;
}
ul.catalog-list {
    border: 2px solid #a1a1a1ad;
    margin: 20px 15px 0 0;
    border-radius: 10px;
}

ul.catalog-list > li, .catalog-list h3 {
    border-bottom: 1px solid gray;
    padding: 5px 15px;
}
ul.catalog-list > li:last-child {
    border: none;
}

ul.catalog-list > li {
	cursor: pointer;
	position: relative;
	height: 33px;
}
ul.catalog-list > li:hover {
    color: black;
    font-weight: 600;
}
ul.catalog-list > li i {
    position: absolute;
    right: 10px;
    transition: 0.4s;
}
ul.catalog-list > li.toshiba-active i {
	transform: rotate(90deg);
}

ul.acces-item, ul.all-in-item, ul.gadget-item, ul.gaming-item {
    visibility: hidden;
    opacity: 0;
    margin-top: 15px;
    margin-left: 10px;
}
ul.catalog-list > li.toshiba-active {
    margin-bottom: 85px;
    color: black;
    font-weight: 600;
}
ul.catalog-list > li.all-in.toshiba-active, ul.catalog-list > li.gadgets.toshiba-active {
    margin-bottom: 65px;
}

ul.catalog-list > li.toshiba-active ul{
    visibility: visible;
    opacity: 1;
}
.catalog-list li ul {
	border-bottom: 1px solid gray;
}
.catalog-list li ul li {
	line-height: 25px;
}

p.fil {
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.filter p:before {
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #fed700;
}
ul.list-filter li:first-child {
    border: none;
}
ul.list-filter > li {
    border-top: 1px solid #eee;
    color: black;
    font-weight: 600;
    position: relative;
    height: 33px;
    margin-bottom: 20px;
    padding: 10px 0;
    cursor: pointer;
}
ul.list-filter > li.brand.filter-active {
    margin-bottom: 150px;
}
ul.list-filter > li.fil-color.filter-active {
    margin-bottom: 50px;
}

ul.list-filter > li.filter-active ul{
    visibility: visible;
    opacity: 1;
}

ul.sub-list-check, ul.sub-list-color, ul.sub-list-price {
    visibility: hidden;
    opacity: 0;
    margin-top: 15px;
    margin-left: 10px;
}

ul.list-filter > li.filter-active i {
	transform: rotate(180deg);
}

ul.list-filter li i {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.6s;
}
ul.list-filter li ul li {
    font-weight: 400;
    cursor: pointer;
}

ul.sub-list-check a, ul.sub-list-price a {
	color: black;
}

ul.sub-list-check a:before, ul.sub-list-price a:before {
	content: "";
	width: 16px;
    height: 16px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 4px;
    border-radius: 3px;
}

ul.sub-list-check a:hover, ul.sub-list-price a:hover {
    color: #fed700;
}

ul.sub-list-color {
    display: flex;
}

ul.sub-list-color li span{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
}

ul.sub-list-color li .col-blue {	background: blue;}
ul.sub-list-color li .col-red {	background: red;}
ul.sub-list-color li .col-purple {	background: purple;}
ul.sub-list-color li .col-yellow {	background: yellow;}
ul.sub-list-color li .col-brown {	background: brown;}
ul.sub-list-color li .col-black {	background: black;}
ul.sub-list-color li .col-white {	background: white;}


.latest-products {
    overflow: hidden;
}
.sidebar-banner img {width: 100%;}

.sidebar-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    transform-origin: 50% 100%;
    transform: translateY(100%);
    transition: all .6s;
}

.sidebar-banner:hover:before {
    transform: translateY(0%);
    transition: all 1s;
}

.latest-products h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    position: relative;
}

.latest-products h3:before {
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    top: 33px;
    left: 0;
    background: #fed700;
}

.latest-label {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}
.latest div:last-child {
	border: none
}

.latest-1 .img img, .latest-2 .img img {
    width: 90px!important;
}

.latest-1 .product-info, .latest-2 .product-info {
    margin-left: 75px;
}

.latest-1 .product-info .panel-price, .latest-2 .product-info .panel-price {
    font-size: 14px;
    margin-top: -20px;
}
/* ----------------------toshiba right--------------------------------- */

.toshiba-theme img {
    width: 100%;
}
.show-acc {
    border-bottom: 1px solid #808080bf;
    position: relative;
}
.show-acc:before {
    content: "";
    width: 115px;
    height: 2.5px;
    background: #fed700;
    position: absolute;
    top: 41.5px;
    left: 0;
}

.acc-product {
    display:flex;
    text-align: center;
}
.acc-product div {
	position: relative;
	width: 207px;
	cursor: pointer;
	margin-top: 25px;
}

.acc-product div:before {
	content: "";
	width: 0.5px;
	height: 120px;
	position: absolute;
	top: 40px;
	right: -1px;
	background: rgba(51,62,72,0.1);
}
.acc-product div:last-child:before {
	width: 0;
}
.acc-product img {
    width: 200px;
}

.acc-product div:hover:after {
	content: "";
	width: 207px;
	height: 235px;
	position: absolute;
	top: -5px;
	left: 0;
	box-shadow: 2px 2px 10px rgba(51,62,72,0.3);
	transition: 0.4s;
}
.acc-product div a {
	color: black;
	position: relative;
	z-index: 999;
	font-size: 20px;
}

.acc-product div a:hover {
	color: #fed700;
}


/* --------------------------Accessories--------------------------------- */
.acc-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background: #eeeeee91;
    border-radius: 7px;
    margin-bottom: 20px;
}
.sort-icons i.sort-active {
	color: black;
}
.accessories-show.accessories-active {
	opacity: 1;
	position: relative;
}

.show-1, .show-2, .show-3, .show-4 {
	position: absolute;
	opacity: 0;
}
.show-2 .col-tabs-1 {
    margin-bottom: 5px;
}
.show-3 .col-tabs-1:before {
    height: 490px;
}
.show-3 .col-tabs-1 {
    margin-bottom: 120px;
}

.accessories-show.show-2 {
    padding-bottom: 15px;
}
.accessories-show.show-3 {
    padding-bottom: 25px;
}


.sort-icons i {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

.sort-icons i:hover {
    color: black;
}

.sort-name select {padding: 5px 8px;border-radius: 25px;}

.sort-name select:focus {
    outline: none;
}

.accessories-1 .product-name {
    width: 170px;
}

.accessories-1 .product-sale {
    top: 70px;
}

.accessories-1 img {
    margin-top: 14px;
}

.accessories-1 .product-price {
    font-size: 16px;
    padding: 0 2px;
}

.accessories-1 .product-button i {
	margin-left: 4px;
}

.accessories-3 .product-price {
    font-size: 26px;
}

.accessories-3 .product-sale {
    top: 70px;
}

.accessories-3 img {
    padding: 0;
}

.accessories-3 .product-price i {
    right: 30px;
}

.accessories-3 .product-button {
    padding-left: 82px;
}

.show-4 .bao {
    height: 230px;
    border-bottom: 1px solid #8080804d;
    margin-bottom: 20px;
}
div.bao:last-child {
    border: none;
}
.show-4 .col-xs-12.col-sm-6.col-md-5.col-lg-5 {
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
}
.show-4 .product-sale {
    top: 10px;
}

.show-4-img img {
    width: 100%;
    margin-top: -10px;
}

.show-4-list li {
    list-style: circle;
    color: gray;
}

.show-4 .product-price {
    margin-left: -20px;
    margin-top: 30px;
}

.show-4 .product-price i {
    right: -5px;
}
.show-4 .product-button {
    opacity: 1;
}

.show-4 .product-button i {
    margin-left: 0;
    padding-right: 4px;
}

