* {
    margin: 0;
    padding: 0;
}
a, a:hover {
    text-decoration: none;
    color: #3595e7;
}

li {
    list-style: none;
}
#header {
    opacity: 0
}

.users {
    width: 25%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: 1px solid #ccc;
    
}

.users h3 {
    margin-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.users form {
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;
}

.users form i {
    position: absolute;
    top: 9px;left: 18px;
    color: #ccc;
}

.users form input {
    width: 95%;
    padding: 5px 5px 5px 30px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.users form input:focus {
    outline: none;
}

.scrollbar {
    background-color: #F5F5F5;
    height: 95vh;
    width: 100%;
    overflow-y: auto;
    margin-top: -8px;
}

.force-overflow {
    min-height: 450px;
}
#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 5px;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
} 

ul.list-user li {
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    height: 95px;
}
ul.list-user li:hover {
    background: #ddd;
}
.avatar {
    width: 80px;
    height: 80px;
    padding: 5px 0;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
}

.name {
    position: absolute;
    top: 20px;
    left: 100px;
    color: #000000b8;
    font-weight: 600;
}

.text {
    position: absolute;
    top: 45px;
    left: 100px;
    color: #aaa;
    width: 215px;
}

.time {
    /* position: absolute; */
    top: 20px;
    right: 20px;
}

.daxem {
    position: absolute;
    top: 40px;
    right: 27px;
}

.daxem img {width: 20px;border-radius: 50%;}




/* code right */
nav.nav-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 101%;
    height: 45px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

span.user-name {
    position: absolute;
    right: 35%;
    font-size: 16px;
    font-weight: 700;
}

ul.nav-messenger {
    display: flex;
    position: absolute;
    right: 0%;
}

ul.nav-messenger li {
    padding: 0 15px;
    font-size: 20px;
}


/* code giua */

.main-content {
    position: fixed;
    top: 50px;
    left: 25%;
    width: 70%;
    margin-left: 40px;
    overflow-y: auto;
}
.fr, .me {
    margin: 15px 0;
}

.me {
    text-align: right;
}

.me .chat-content {
    background: #0084ff;
    color: white;
}
.chat-content {
    display: inline-block;
    padding: 5px 10px;
    background: #f1f0f0;
}

small.time-chat {
    margin: 0 5px;
}

.bottom-content {
    position: fixed;
    left: 25%;
    bottom: -4px;
    width: 75%;
}

.bottom-content form {
    display: flex;
}

.bottom-content form textarea {
    width: 100%;
    padding: 10px 0 30px 10px;
    border: 1px solid #ccc;
}

.bottom-content form textarea:focus {
    outline: none;
}

button#btn_send {
    padding: 0 20px;
    border: none;
    background: #999;
}