.wrapper {
    margin-top: 50px;
}
.wrapper-form {
	background-color: #f5f5f5;
	color: #313131;
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}


#form-login .input-group, #form-toroku .input-group {
	margin: 1rem 0;
	position: relative;
}

#form-login, #form-toroku {
	background-color: white;
	padding: 5rem 8.2rem;
	box-shadow: 0.4px 2px 4px 5px rgba(0, 0, 0, .3);
	border-radius: 1rem;
	text-shadow: .4px 4px 5px rgba(0, 0, 0, .3);
}

#form-login h2, #form-toroku h2 {
	text-align: center;
	font-weight: 500;
	/* ko cho copy textÂ */
	user-select: none;
	margin-bottom: 50px;
}
#form-toroku input {
    margin-bottom: 10px;
}

#form-login input {
	margin: 8px auto;
	border: none;
	border-bottom: 1px solid dodgerblue;
	outline: none;
	padding: 6px 80px 6px 5px;
} 
label.toroku {
    color: gray;
}
#form-login label.click {
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: 500;
	font-size: 15px;
	color: gray;
	transition: .4s;
}
#form-login label.click {
	/* ko select dc vao chuÂ */
	pointer-events: none;
}
/* valid khi thoa man dieu kien requiredÂ */
#form-login input:focus + label, #form-login input:valid + label {
	top: -15px;
	left: 0px;
}
.submit button {
    margin-top: 20px;
}

#form-login button, #form-toroku button {
	background-image: linear-gradient(120deg,#a6c0fe 0%, #f68084 100%);
	padding: .5rem 1rem;
	border: none;
	color: white;
	border-radius: 2rem;
	width: 100%;
	cursor: pointer;
	transition: .4s;
	margin-top: 20px;
}

#form-login p, #form-toroku p {
	font-weight: 300;
	font-size: 14px;
	margin-top: 2rem;
}

input.checkbox1 {
    display: inline-block;
}
.check1 {
	color: gray;
}