/*================================= user=======================================*/
.wrap-user, .wrap-product, .add-product {
    margin-top: 60px;
    /* background: navy; */
}
.list-products {
    /* padding: 0 50px; */
}


/*================================= add product =======================================*/
.page {
    line-height: 66px;
    text-align: center;
}

/*================================= all product =======================================*/
.card .col-md-3 {
    border-right: 1px solid gray;
}
.img-all-pd img {
    width: 90%;
}
li.pd-active {
    background: aqua;
}
.col-md-3.set-product {
    height: 300px;
    cursor: pointer;
}

.card-body, .img-all-pd {
    text-align: center;
}

/*================================= category =======================================*/
.sidebar-category {
    width: 93%;
    margin-top: -68px;
    margin-left: 50px;
}
tr.list-category th {
    text-align: center;
    font-size: 20px
}


/*================================= product =======================================*/
.admin {
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom: 1px dotted;
}
img.logo-admin {
    width: 80px;
    margin-top: 8px;
    cursor: pointer;
}

nav.navbar.navbar-default.navbar-fixed-top {
    height: 62px;
}
span.login-admin {
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
    display: inline-block;
}
span.pd-qty {
    display: inline-block;
    margin: 8px 0 0 10px;
}
.navbar-default.primary {
    background: #204d74;
    border-radius: 0;
}
.ul-admin li {
    margin: 10px 0px -5px 0px;
    width: 100px;
    text-align: center;
    position: relative;
}

.ul-admin li:first-child {
    margin-left: 15px;
}
.ul-admin li:first-child:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.ul-admin li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 0.5px;
    height: 45px;
    background: white;
}
div#seccess {padding-top: 30px;text-align: center;}

.ul-admin li a {
    color: white!important;
}

.ul-admin li.ad-active {
    background: white;
}

li.ad-active a {
    color: black!important;
}
.wrap-sidebar {
    display: flex;
}

/*     ------siber-left-------      */
.sidebar .col-md-4 {
    width: 100%;
}
.col-md-4.pd2 {
    border: 1px solid #80808040;
    height: 328px;
    margin-top: 20px;
}

li.cl-brown {
    background: #5c5c5c;
    border-radius: 3px 3px 0 0;
    color: white;
    margin-top: -1px;
    padding: 10px;
}

ul.list-pds-1 li, ul.list-pds-2 li {
    border-bottom: 1px solid #3c3c3c59;
    width: 298px;
    margin-left: -15px;
    cursor: pointer;
}
ul.list-pds-1 li.cl-brown:hover, ul.list-pds-2 li.cl-brown:hover{
    background: #5c5c5c;
    pointer-events: none;
}
ul.list-pds-1 li:hover, ul.list-pds-2 li:hover {
    background: aqua;
    transition: 0.3s;
}

ul.list-pds-1 li a, ul.list-pds-2 li a {
    color: black;
    width: 100%;
    padding: 10px 10px;
    display: block;
}


/*     ------siber-right-------      */
.sidebar-right {
    margin-top: -70px;
    width: 93%;
    margin-left: 50px;
}

.sidebar {
    width: 300px;
    height: 328px;
    margin-left: 15px;
    border-radius: 3px;
    border: 1px solid #80808040;
    margin: 0px 30px 0 15px;
}

form.form-inline.my-2.my-lg-0.text-right {
    display: inline-block;
    margin-left: 918px;
}
.list-product th {
    text-align: center;
}
.list-product {text-align: center;}

#admin-img img {
    width: 70px;
}

#admin-delete, #admin-edit {
    padding-top: 23px;
}

#admin-delete, #admin-edit, #count, #admin-name, #admin-price, #admin-salePrice, #admin-qty, #admin-date {padding-top: 30px;}







