

/* ==================================================== Panel-bestsellers =========================================*/
section#panel-bestsellers {
    padding-bottom: 10px;
}

.wrap-panel {
    position: relative;
    padding-bottom: 61px;
    margin-top: 15px;
    z-index: 999;
}

.wrap-panel h3 {
    border-bottom: 2px solid #fed700;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 15px;
}

.tabs-panel-content {
    position: absolute;
    top: 5px;
    right: 0;
}

ul.list-panel {
    display: flex;
    margin-right: 50px;
}

ul.list-panel li {
    list-style: none;
    padding: 9px 15px 0 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}



/* ==================================================== Tabs-panel-product =========================================*/
.tabs-panel-product .row {
    padding: 0;
    margin: 0;
}

.tabs-panel-product {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.panel-product-1, .panel-product-2 {
    margin: 20px 0 50px 0;
    width: 100%;
}
.product-label {
    display: flex;
    position: relative;
}

.img {    z-index: 999;}

.img img {
    width: 100%;
    margin: 0px -65px 0 5px;
}

.product-info {z-index: 999;margin-left: 10px;}


[class*=panel-product-] .border-right {
    height: 120px;
    top: 5px;
    right: 0px;
    background: #dedcdc;
}

.panel-price {
    padding: 0;
    padding-bottom: 20px;
}

.panel-name {
    margin: 6px 0 25px 0;
}

.owl-carousel .owl-stage-outer {    width: 1140px;}

.wrap-product-1.item {    width: 100%;}

.col-xs-6.col-sm-6.col-md-4.col-lg-4 {    width: 100%;}

.panel-active:before, ul.list-panel li:hover:after {
    content: "";
    position: absolute;
    top: 0px;
    left:0;
    width: 90px;
    height: 40px;
    border: 2px solid #fed700;
    border-radius: 15px;
}

.panel-active:nth-child(2):before, ul.list-panel li:nth-child(2):hover:after,
.panel-active:nth-child(4):before, ul.list-panel li:nth-child(4):hover:after
 { width: 160px; }
 .panel-active:nth-child(3):before, ul.list-panel li:nth-child(3):hover:after {
     width: 200px;
 }

.tabs-panel.tabs-panel-active {
    opacity: 1;
    width: 100%;
    border-top: 1px solid #80808040;
}


[class*=tabs-panel-product-] {
    position: absolute;
    opacity: 0;
    top: 63px;
}
.home-banner {padding-top: 500px;}
