
/* ==================================================== Product-main ====================================Ã‚Â */
section#product-main {
    background: #f9f9f9;
    padding-bottom: 80px;
    height: 860px;
}

ul.product-list-menu {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 1px solid #e0e0e0;
}

ul.product-list-menu li {
    list-style: none;
    padding: 8px 14px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}


 /* ==================================================== Tab-product-1, Tab-product-2 =====================Ã‚Â */
.tab-products {
    position: relative;
}

.product-main-vendor, .product-main-name {
    position: relative;
}

.tab-product-1, .tab-product-2, .tab-product{
    background: #fff;
    padding: 10px 15px 0 15px;
    margin: 10px 0;
    z-index: 999;
    position: relative;
    border-radius: 5px;
}

.product-main-sale {left: 15px;}
.tab-product-1 img, .tab-product-2 img {width: 100%;}
.col-none {color: #000000c2;padding-bottom: 0;text-decoration: none!important;}
.tab-main-1 > div:nth-child(3) .product-main-price i:after {content: " Add to cart";}

.product-main-button {
    padding-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.tab-product {
    padding-bottom: 20px;
}

.tab-product img {
    width: 100%;
    padding: 44px 0px;
}

.tab-product .product-main-sale{
    left: 56px;
    padding: 20px 12px;
    font-size: 20px;
}

.tab-product .icon-product-main {
    border-radius: 20px;
    background: #fed700;
    padding: 12px 12px;
    font-size: 13px;
    font-weight: 700;
}

.tab-product .icon-product-main:hover {
    background: #000000a6;
}


.tabs-main {
    position: relative;
}

.wrap-tab.main-active {
    opacity: 1;
    width: 100%;
}

.tab-main-1 > div:nth-child(2) {
    position: absolute;
    top: 340px;
    left: 0;
}

.tab-main-1 {
    position: relative;
    width: 100%;
}
.tab-main-1 > div:nth-child(3) .product-main-vendor, .tab-main-1 > div:nth-child(3) .product-main-name {
    left: 20px;
}
.tab-main-1 > div:nth-child(3) {
    width: 50%;
}
.tab-main-1 > div:nth-child(3) .product-main-sale {padding: 30px 25px;}
.tab-main-1 > div:nth-child(3) .tab-product-1 {
    padding: 35px 0;
}
.tab-main-1 > div:nth-child(3) i.fa.fa-cart-plus {
    padding: 10px 10px;
    border-radius: 20px;
    /* margin: 13px; */
}
.wrap-tab-1, .wrap-tab-2, .wrap-tab-3 {
    position: absolute;
    opacity: 0;
}
.wrap-tab-4 {
    opacity: 0;
}

