

/* ==================================================== Product-slider-section =========================================*/
section.product-slider-section {
    padding-bottom: 50px;
}

.layout-boxed {
    margin: 0 15px;
}
[class*=wrap-product-] {
    margin-top: 12px;
}
.title h3 {
    font-size: 22px;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #8080807d;
}

.title h3:before {
    content: "";
    position: absolute;
    top: 38px;
    left: 0;
    width: 120px;
    border-bottom: 2px solid #fed700;
}

.slider-item.item {
    padding: 9px;
    box-sizing: border-box;
}

.wrap-item1 {
    z-index: 999;
    position: relative;
}

.wrap-item1 .border-right:before {
    content: "";
    position: absolute;
    width: 0.8px;
    height: 165px;
    right: 6px;
    top: 0;
    background: #dedcdc;
    z-index: 999;
}

.wrap-item1 img {margin: 15px 0;}
.slider-item-3 img, .slider-item-7 img, .slider-item-8 img {
    padding-bottom: 17px;
}

.product-slide-price {
    display: grid;
}

.product-slide-sale {
    left: 10px;
}

.product-slide-name {
    font-size: 14px;
    margin-top: 7px;
    padding-right: 30px;
}

.owl-nav {
    position: absolute;
    top: -70px;
    right: 0px;
    font-size: 40px;
}

.tabs-panel .owl-nav {top: -82px;}

.wrap-product-slider .owl-theme .owl-nav [class*=owl-]:hover,
.tabs-panel .owl-theme .owl-nav [class*=owl-]:hover {background: transparent;color: black;/* outline: none; */}

.owl-theme .owl-nav [class*=owl-]:focus {/* outline: none; */}

.owl-theme .owl-dots .owl-dot span {    background: #20cb55;}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    transition: all .5s;
    width: 35px;
    border-radius: 20px;
    background: #fed700 !important;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    outline: none;
}