.alert.alert-success {
    text-align: center;
}

.float-right {
    display: inline-block;
    margin-left: 5px;
}
.order h2 {
    text-align: center;
}
.orders-cart:before {
    content: "";
    position: absolute;
    width: 966px;
    height: 1px;
    border: 1px dashed gray;
    bottom: -25px;
}

.orders-cart {
    position: relative;
    margin-bottom: 50px;
}

li.list-group-item.border {
    width: 940px;
}

.order-title {
    display: inline-block;
    width: 200px;
}

.order-qty {
    display: inline-block;
    margin-left: 20px;
    
}

.order-qty span, .order-price span {
	font-weight: bold;
}
.order-img img {
    width: 100px;
}

.order-img {
    display: inline-block;
}

.order-price {display: inline-block;position: relative;left: 490px;}