/* =========================================== Header-slide ========================================= */
#section-main {margin-bottom: -70px;}

.container-fluid.main-slide {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-bottom: 100px;
}

.container-fluid.main-slide:hover .text {
    transition: all 1.2s linear;
    opacity: 1;
    left: 50%;
    visibility: visible;
}

video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transition: all 1s;
    z-index: -10;
}
.video {
    opacity: 0;
}
.video.active {
    opacity: 1;
}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.text h4 {
    text-transform: uppercase;
    color: #337ab7;
}

.text p {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.text a {
    background: #fed700;
    padding: 10px 25px;
    border-radius: 10px;
    color: gray;
    transition: all .5s;
}

.text a:hover {
    transition: all .5s;
    text-decoration: none;
    background: black;
    color: white;
}


/* =========================================== Buttom-circle =======================================*/
.buttom {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

ul.dots {
    display: flex;
}

.dots li {
    list-style: none;
    text-indent: -999px;
    width: 10px;
    height: 10px;
    background: #20cb55;
    display: block;
    padding: 5px 3px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: all .5s;
}

li.active {
    transition: all .5s;
    width: 35px;
    height: 0px;
    border-radius: 20px;
    background: #fed700;
}

.dots li:hover {
    transition: all .5s;
    width: 35px;
    height: 0px;
    border-radius: 20px;
    background: #fed700;
}
