section#show-cart {position: relative;}

section#show-cart h1 {
    text-align: center;
    margin: 40px 0;
}

ul.title-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: gray;
}

ul.title-items li:first-child {
    margin-left: 80px;
}

ul.title-items li:nth-child(2) {
    padding-left: 309px;
}
ul.title-items li:nth-child(3) {
   margin-left: -82px;
}

ul.title-items li:last-child, .cart-total {
	margin-right: 40px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 12px 0;
    border-bottom: 1px solid gray;
}

.cart-img {
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    width: 495px;
}

.delete-item {
	cursor: pointer;
	margin-right: 24px;
	font-size: 24px;
	color: brown;
}

.cart-img img {
    width: 100px;
    margin-left: 38px;
}

.cart-title a {
    color: #090808;
    margin-left: 10px;
}
.cart-title a:hover {
	color: #d3b92b;	
}
a.add, a.reduce, a.remove {
    font-size: 21px;
    border-radius: 50%;
    color: gray;
    margin: 0px 1px;
    position: relative;
    left: 30px;
}

a.reduce {
    padding: 1px 7px;
}

a.add:hover, a.reduce:hover, a.remove:hover {
    color: #e8d31b;
}

.cart-button {
    text-align: right;
    margin: 40px 15px;
}

.clear-cart {
	padding: 13px 20px;
	color: #333e48;
	font-weight: 500;
	background: #fed700;
	border-radius: 20px;
	transition: .3s;
}

.clear-cart:hover {
	background: #333e48;
    color: white;
}

.continue {
    padding: 13px 20px;
    color: #333e48;
    background: #e6e6e6;
    border-radius: 20px;
    transition: .3s;
    margin-right: 10px;
}

.continue:hover {
	background: #fed700;
    color: #333e48;
}

.total {
    width: 350px;
    border-bottom: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: space-between;
    left: 790px;
    padding: 0 5px;
    font-size: 25px;
    font-weight: 700;
}

/* askjfdasbkfjasbfjasbjf */
section#show-cart-item {
    padding: 100px 0;
}

.show-cart-owl {
    overflow: hidden;
}

.show-cart-owl .owl-nav {position: relative;}

.show-cart-owl .owl-nav .owl-prev, .show-cart-owl .owl-nav .owl-next {
    position: absolute;
    top: -140px;
    left: 0;
}

.show-cart-owl .owl-nav .owl-next {
    left: 95%;
}

.show-cart-owl .owl-nav .owl-prev:hover, .show-cart-owl .owl-nav .owl-next:hover {
    border: none;
    outline: none;
}

img.show-cart-img {
    width: 100px;
    height: 115px;
    border: 1px solid #8080805c;
    padding: 10px 0;
    margin: 25px 5px 20px 0;
    cursor: pointer;
}

img.show-cart-img.img-active {
    border-bottom: 3px solid #fed700;
    box-sizing: border-box;
}

img.show-cart-img:hover {
    border-bottom: 3px solid #fed700;
    transition: 0.5s;
}
/* col giua col 3 */

.show-cart-vendor a {
    color: gray;
}

.show-cart-vendor a:hover {
    color: #e8c81ca6;
}

.show-cart-name {
    font-size: 24px;
    padding: 5px 0;
}

span.face, span.twitter, span.google {
    background: #3b5998;
    padding: 5px 9px;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.show-cart-icons {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #80808052;
}

span.twitter {
    background: #007bff;
}

span.google {
    background: #dd4b39;
}
span.face:hover, span.twitter:hover, span.google:hover {
    opacity: 0.7;
}

ul.list-title li, ul.introduce li {list-style: circle;line-height: 25px;color: gray;}

ul.list-title {
    border-bottom: 1px solid #80808052;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

ul.introduce li:last-child {}

ul.introduce span {
    line-height: 25px;
}

ul.introduce i {
    font-size: 40px;
    margin-top: 20px;
    color: #c6c60c;
    margin-right: 10px;
}

ul.introduce p {
    margin-top: 10px;
    line-height: 23px;
}

span.yell {
    color: #dbbd19;
}

/* set co cuoi*/
.wap-carts {
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 20px 30px;
}

.ava {
    color: gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #80808052;
}

.ava span.gr {
    color: #7ec062;
    font-weight: 700;
}

.size-cart {
    font-size: 40px;
    color: black!important;
}
.show-cart-salePrice {font-size: 40px;}

.show-cart-price {
    color: gray;
    text-decoration: line-through;
}

.show-cart-quantity label, .show-cart-color label, .show-cart-size label {
    color: gray;
    font-weight: 400;
}

.quantity input {
    width: 140px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.show-cart-color label {margin-top: 15px;margin-bottom: -5px;}

span.dots {
    display: block;
    font-size: 35px;
}
span.dots i {
    cursor: pointer;
}
i.dot-active {font-size: 45px;}

i.dot-bl {
    color: blue;
}

i.dot-red {
    color: red;
}

i.dot-gr {
    color: green;
}

.show-cart-size {
    margin: 15px 0;
}

.wrap-size {
}

span.size-m, span.size-l, span.size-x ,span.size-xl {
    border: 1.5px solid gray;
    padding: 5px 9px;
    font-weight: 700;
    margin-right: 7px;
    cursor: pointer;
}
.wrap-size .size-active, .wrap-size span:hover {
    border: 1.5px solid #fed700;
    color: #fed700;
    transition: 0.5s;
}
a.but-add, a.but-buy {
    display: block;
    color: white;
    width: 200px;
    padding: 17px 0;
    margin-top: 25px;
    text-align: center;
    border-radius: 25px;
    background: #fed700;
    transition: 0.5s;
}

a.but-buy {
    margin-top: 10px;
    padding: 14px 0;
    background: #333e48;
    margin-bottom: 12px;
}

a.but-add:hover {
    background: #333e48;
}

a.but-buy:hover {
    background: #fed700;
}

a.view-wish, a.view-com {
    color: #7c7777d1;
    margin-left: 10px;
    margin-top: 15px;
}