@charset "utf-8";
@import url(chat.css);
@import url(login.css);
@import url(page.css);
@import url(section-main.css);
@import url(product-header.css);
@import url(product-main.css);
@import url(panel-bestsellers.css);
@import url(product-slider-section.css);
@import url(show-cart.css);
@import url(profile.css);
@import url(catalog.css);


* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}
a, a:hover {
    text-decoration:none;
}
html, body {
    overflow-x: hidden;
}

.top-bar {
    display: flex;
    align-items: center;
}

.top-bar-list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 100px;
    padding-top: 12px;
}

.top-bar-list li {
    list-style: none;
    padding: 0 30px 0 0;
    text-transform: uppercase;
    font-size: 13px;
}

.top-bar-list li span {
    font-weight: 700;
}

.language {
    border: none;
    padding-right: 10px;
    margin-top: -2px;
    margin-right: 12px;
}

.language:focus {
    outline: none;
}

/* ==================================================== Menu-top ===================================================*/
.menu-top-2 {
    border-top: 1px solid rgba(51,62,72,0.1);
    border-bottom: 1px solid rgba(51,62,72,0.1);
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
    color: #4b4747;
}

.top-bar-two {
    display: flex;
    margin-top: 10px;
    margin-bottom: -10px;
}

.top-bar-left {
    flex-grow: 1;
}

.list-left {
    display: flex;
    margin-left: 10px;
}

.list-left li {
    list-style: none;
    padding: 0 15px 0 0;
    position: relative;
}

.list-left li:before {
    content: '';
    height: 15px;
    width: 1px;
    background: rgba(51,62,72,0.1);
    position: absolute;
    display: block;
    top: 3px;right: 0;
}

.list-left li i {
    margin-right: 5px;
    color: #fed700;
}

.list-right {
    display: flex;
    margin-right: 5px;
}

.list-right li {
    padding: 0 15px;
    list-style: none;
    position: relative;
}

.list-right li:before {
    content: "";
    height: 15px;
    width: 1px;
    background: rgba(51,62,72,0.1);
    position: absolute;
    display: block;
    top: 3px;right: 0;
}
.list-right li:last-child:before {
    width: 0;
    height: 0;
}

.list-right li a {
    color: #4b4747;
}

.list-right li a:hover {
    text-decoration: none;
    color: #fed700!important;
    transition: all .4s;
}

.list-right li i {
    margin-right: 5px;
}

a.logout.user-login:hover {
    background: #d4d4d4;
    color: black!important;
}
.list-right li:last-child {
    margin-top: 0px;
}
/* ====================================== herder-main ===========================================*/
.wrapper-main {
    display: flex;
    padding: 25px 0;
}

.header-logo {
    flex-grow: 1;
}

.header-logo img, .logo img {
    width: 108px;
    margin-top: -20px;
    margin-left: 5px;
    cursor: pointer;
}
.logo {margin-bottom: -30px;margin-top: -10px;}

.search {
    flex-grow: 3;
    margin-left: 100px;
}

.search form {
    display: flex;
}

.search input {
    border-radius: 20px;
    border: 1px solid #fed700;
    padding: 10px 0 10px 15px;
    width: 100%;
}

.search input:focus {
    outline: none;
}

#btnSearch {
    padding: 7px 20px;
    background: #fadd3bf2;
    border: none;
    font-size: 20px;
    border-radius: 0 20px 20px 0;
    transform: translateX(-50%);
}

#btnSearch:focus {
    outline: none;
}

#btnSearch i {
    color: #0000009c;
    font-size: 25px;
}

.icons-items {
    flex-grow: 1;
}

.header-list-icons {
    display: flex;
    justify-content: flex-end;
}

.header-list-icons li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

.header-list-icons li a {
    color: black;
}

.header-list-icons li i {
    font-size: 25px;
    color: gray;
}

.header-list-icons li span {
    position: absolute;
    top: 19px;
    background: #fed700;
    border-radius: 50%;
    padding: 0px 5px;
    transition: all .6s;
    margin-left: 10px;
}

.header-list-icons li span:hover {
    top: 10px;
    transition: all .6s;
}

.prew {
    cursor: pointer;
}

.prew-cart.prew-active, .prew-cart.prew-active + .black {
    opacity: 1!important;
    visibility: visible!important;
    right: 0px;
}

.prew-cart.prew-active .close-item i{
    opacity: 1;
}

.prew-cart {
    position: fixed;
    top: -26px;
    right: -350px;
    opacity: 0;
    visibility: hidden;
    width: 351px;
    height: 104vh;
    background: white;
    z-index: 1001;
    transition: 1s;
}

.black {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
}
.close-item {
    position: relative;
    top: 36px;
    right: -20px;
}

.close-item i {
    z-index: 1002;
    color: #333;
    font-size: 24px;
    opacity:0;
    cursor: pointer;
}
.close-item i:hover {
    color: #a94442;
}

.prew-cart h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    background: #fed700;
    padding: 12px 0;
}

.prew-cart img {
    width: 120px;
    padding-left: 10px;
    padding-right: 15px;
}

.cart-item {
    width: 160px;
    line-height: 20px;
    position: relative;
    padding-top: 10px;
}

.cart-name a {
    text-decoration: none;
    color: #1480dc;
    font-weight: 700;
    transition: .3s;
}

.cart-name a:hover, .cart-name i:hover {
    color: #fed700;
}

.cart-name i {
    position: absolute;
    right: -26px;
    cursor: pointer;
    font-size: 16px;
    top: 12px;
}
span.tuika {
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
}
.hr-class {border-bottom: 1px dotted;margin: 10px 25px;}

.wrapper-cart {
    height: 500px;
    overflow-y: auto;
}

.cart-total h4 {
    display: inline-block;
    margin-left: 20px;
}

.cart-items {
    display: flex;
}
.cart-total span {float: right;margin-right: 20px;font-size: 20px;font-weight: 700;}

.action {
    background: #8080805c;
    display: inline-block;
    padding: 14px 97px;
    text-align: center;
    border-radius: 20px;
    margin: 0 0 10px 45px;
    cursor: pointer;
    color: black;
}

.action a {
    color: black;
    font-weight: 700;
}

#btn-cart {
    padding: 14px 49px;
    display: block;
    border-radius: 20px;
    margin-left: 45px;
    border: none;
    color: black;
    font-weight: 800;
    background: #a3f780;
}

.action:hover, #btn-cart:hover {
    background: #fed700;
    color: black;
}
/* ===================================== header-navigation ===========================================*/
.header-navigation {
    display: block;
    height: 41px;
}

.navigation {
    display: flex;
}

.menu-nav {
    cursor: pointer;
}

.menu-left {
    height: 41px;
    padding: 10px 15px 10px 15px;
    background: #fed700;
    width: 240px;
    border-radius: 8px;
    transition: all .5s;
    margin-left: 15px;
}
.menu-active {
    border-radius: 8px 8px 0 0;
    transition: all .5s;
}

/* =========================================== main-nav ==============================================*/
.main-nav {
    position: relative;
    z-index: 999;
    width: 230px;
    display: inline-block;
    margin-left: -15px;
    padding: 0px 15px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 2px 10px rgba(51,62,72,0.1);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.main-active {
    opacity: 1;
    visibility: visible;
}

nav.navbar.vertical-navbar {
    margin-top: 10px;
    margin-left: -16px;
}

.main-nav > li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(51,62,72,0.1);
    position: relative;
}

.main-nav > li:last-child {
    border-bottom: none; 
}

.main-nav li a {
    color: #4c4949;
    font-weight: 500;
}

.main-nav > li a:hover {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    transition: all .3s;
}

.nav-gadgets:hover .gadgets-left a, .nav-in-one:hover .all-one-left a,
.nav-acc:hover .acc-left a, .nav-gam:hover .gam-left a {
    color: black;
    font-size: 15px;
    font-weight: 700;
    transition: all .3s;
}

.gadgets-left i, .all-one-left i, .acc-left i, .gam-left i {
    position: absolute;
    top: 15px;
    right: 10px;
}

.gadgets-right, .all-one-right, .acc-right, .gam-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 41px;
}

.nav-gadgets:hover .row.row-nav, .nav-in-one:hover .row.row-nav {
    left: 11px;
    transition: all .6s;
    opacity: 1;
    visibility: visible;
}

.row.row-nav {
    display: flex;
    position: relative;
    width: 745px;
    left: 15px;
    top: 30px;
    z-index: 10;
    margin: -72px 0 0 204px;
    border:1px solid #fff;
    border-top: 1.5px solid #fed700;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px 0px 10px rgba(51,62,72,0.3);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.col-4 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.col-4-2 {
    position: absolute;
    top: 30px;
    left: 410px;
}

.row.row-nav .col-4 li, .row.row-nav .col-4-2 li{
    list-style: none;
    line-height: 30px;
}

.row.row-nav .col-4 a:hover, .row.row-nav .col-4-2 a:hover {
    text-decoration: underline;    
}

.row.row-nav .col-4 a span, .row.row-nav .col-4-2 a span {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    color: black;
}


.nav-in-one  .row.row-nav {
    top: -11px;
}

.col-left-bottom {
    margin-top: 40px;
}

/* ====================================== Accessories && GamingNew ==================================*/
.acc, .gam {
    position: absolute;
    top: -124px;
    left: 220px;
    z-index: 10;
    width: 300px;
    padding: 15px 0 250px 0;
    border: 1px solid rgba(51,62,72,0.1);
    border-top: 1.5px solid #fed700;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px 0px 10px rgba(51,62,72,0.3);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.nav-acc:hover .acc, .nav-gam:hover .gam {
    left: 215px;
    transition: all .6s;
    background: #fff;
    opacity: 1;
    visibility: visible;
}

.acc li, .gam li {
    list-style: none;
    padding: 7px 25px;
}

.gam {
   top: -165px;
   padding-bottom: 284px;
}

/* ========================================= menu-right ==========================================*/
.menu-right {
    margin-left: 10px;
    display: flex;
    flex-grow: 1;
}

.menu-right > span {
    margin-top: 9px;
}

.dropdown-catalog:hover .catalog, .dropdown-blog:hover .blog,
.dropdown-pages:hover .pages, .dropdown-features:hover .features {
    transition: all .3s;
    opacity: 1;
    visibility: visible;
    top: 40px;
}

.dropdown-inner {
    position: relative;
}

.dropdown-inner sup {
    position: absolute;
    top: -12px;
    left: 40px;
    color: #fff;
    background: #0000ffb8;
    font-size: 10px;
    font-weight: 200;
}
.dropdown-inner.hot sup {background: red;}
.dropdown-inner.sale sup {background: green;}

.dropdown-inner i {
    position: absolute;
    top: 4px;
    left: 61px;
}

ul.list-home {
    display: flex;
    margin-left: 10px;
}

.list-home > li:hover:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fadf45;
}

.list-home > li:first-child:before, .list-home > li:last-child:before {
    border: none;
}

ul.list-home > li {
    list-style: none;
    padding: 10px 26px;
    position: relative;
    height: 42px;
}

ul.list-home > li a {
    color: #333e48;
    font-weight: 600;
    text-decoration: none;
}


/* =========================================== Catalog ==========================================*/
.catalog, .features {
    display: flex;
    position: absolute;
    top: 45px;
    left: -90px;
    z-index: 999;
    width: 880px;
    padding: 15px 0;
    border: 1px solid rgba(51,62,72,0.1);
    border-top: 1.5px solid #fed700;
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 0px 10px rgba(51,62,72,0.3);
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.catalog a span {
    display: block;
    margin-left: 22px;
    margin-bottom: 20px;
    font-size: 16px;
}

.catalog ul li {
    list-style: none;
    margin: 0px 70px 0 20px;
    line-height: 30px;
}

.catalog ul li a, ul.list-blog li a, ul.list-pages li a{
    color: #4c4a4a;
    font-weight: 300;
}

.catalog ul li a:hover {
    text-decoration: underline;
}


/* ============================================= Blog ==========================================*/
.blog, .pages {
    position: absolute;
    z-index: 999;
    top: 45px;
    left: 15px;
    background: #fff;
    width: 240px;
    padding-bottom: 12px;
    box-shadow: 1px 2px 10px rgba(51,62,72,0.1);
    border-top: 1.5px solid #fed700;
    border-radius: 0 0 15px 15px;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.dropdown-blog sup {left: 25px;}
.dropdown-blog i {left: 40px;}

ul.list-blog li, ul.list-pages li {
    list-style: none;
    display: block;
    padding: 15px 0 0 30px;

}

ul.list-blog li:hover, ul.list-pages li:hover {
    background: #e0d8d838;
}



/* =========================================== Features =========================================*/
.dropdown-pages i {    left: 50px;}
.dropdown-features sup {
    left: 50px;
}

.dropdown-features i {
    left: 70px;
}

.features {
    left: -403px;
    background: #fff;
}

ul.list-feature {
    display: flex;
}

ul.list-feature li {
    list-style: none;
    padding: 8px;
}

.product {
    display: flex;
    flex-direction: column;
}

.product span {
    color: #5094d2;
}

.product img  {
    width: 200px;
    padding: 15px 0;
}

.product .price {
    color: red;
    font-size: 20px;
}

.product .price span {
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 500;
    color: gray;
    margin-left: 10px;
}

li.product-2 .price span {
    text-decoration: none;
    font-size: 20px;
    color: #565151;
}
/* vua coppy */













/* ============================================== Shopify-section-bottom =========================================*/
.bottom-partner {
    padding: 10px 0 0 30px;
    border-top: 1px solid #dedcdc;
    border-bottom: 1px solid #dedcdc;
    overflow: hidden;
    margin: 0px 15px;
}

.owl-three .owl-nav {
    position: relative;
}

.owl-three .owl-nav .owl-prev {
    position: absolute;
    top: -11px;
    left: -25px;
    margin: 0 !important;
}

.owl-three .owl-nav .owl-next {
    position: absolute;
    top: -11px;
    right: 5px;
    margin: 0 !important;
}

.bottom-partner .owl-theme .owl-nav [class*=owl-]:hover {
    color: black;
    background: transparent;
}

.bottom-partner .owl-carousel .owl-item img {
    width: 90% !important;
}


/* ==================================================== Bottom-products =========================================*/
.bottom-products {
    margin: 45px 0 50px 0;
}
[class*=product-listing-item-] h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    font-size: 20px;
    position: relative;
}

[class*=product-listing-item-] h4:before {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    width: 100px;
    height: 1.5px;
    background: #fed700;
}

.listing-item {
    display: flex;
    margin: 30px 0;
}

.product-listing {
    margin: 10px 0 0 40px;
}

.listing-price {
    margin-top: 10px;
    padding-left: 0;
    font-size: 16px;
}

.listing-price span {
    margin-left: 5px;
}


/* ==================================================== footer-widget-newsletter =========================================*/
footer#footer-content {
}

.widget-newsletter {
    background: #fed700;
}

.newsletter-title {
    font-size: 24px;
    padding: 20px 0;
    color: #000000b5;
}

.newsletter-title i {
    font-size: 30px;
    margin-right: 15px;
}

.newsletter-text {
    padding: 26px 0;
}

.newsletter-text span {
    color: black;
    font-weight: 800;
}

.widget-newsletter form {
    padding: 17px 0px;
    display: flex;
}

.form-ft {
    padding-left: 25px;
    border-radius: 25px 0 0  25px;
    border: none;
    width: 274px;
}

#ftSubmit {
    padding: 10px 25px;
    border-radius: 0 25px 25px 0;
    border: none;
    color: white;
    background: #555;
}

.form-ft:focus {
    outline: none;
}

.logo {padding-bottom: 30px;}

.support-box-1 {
    display: flex;
}

.support-box-1 i {
    font-size: 50px;
    color: #fed7008a;
}

.text-box {
    margin-left: 40px;
}

.text-box span {
    font-weight: 500;
    color: gray;
}

.text-box span:last-child {color: black;font-size: 20px;}

.support-box-2 {
    margin: 30px 0;
    line-height: 24px;
}

.support-box-2 span {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.support-box-2 p {
    font-size: 15px;
}

ul.social-item {
    display: flex;
}

ul.social-item li {
    list-style: none;
    margin-right: 24px;
    font-size: 30px;
}

ul.social-item li i {
    color: black;
}

ul.social-item li:hover i {
    color: #fed700;
    transition: all .5s;
}

.footer-widget {
    padding-top: 50px;
}

.ft-title h4 {
    font-weight: 700;
}

ul.ft-text-content li {
    list-style: none;
    line-height: 30px;
}

ul.ft-text-content li a {
    color: #333e48;
}

ul.ft-text-content li a:hover {
    text-decoration: none;
    color: #fed700;
    font-size: 15px;
}

.footer-bottom {
    margin-top: 60px;
    background: #eaeaea;
}

.signature {
    display: flex;
    justify-content: space-between;
}

.code {
    display: flex;
    padding: 20px 0;
    margin-top: 15px;
}

.shashin {
    padding: 20px 0;
}
.code span {
    margin-left: 15px;
    color: tomato;
    font-size: 20px;
    display: block;
    margin-top: -5px;
}

.buttonIcon {
    position: fixed;
    right: 25px;
    bottom: 20px;
    font-size: 26px;
    padding: 10px 12px;
    background: #fed700;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    opacity:0;
}
.go-up {
    opacity: 1;
}