<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Checkout</h2>
            <h4>Total: ${{total}}.00</h4>
            <div id="charge-error" class="alert alert-danger {{#if noError}}invisible{{/if}}">
            {{errMsg}}
        </div>
            <form action="/cart/checkout" method="post" id="checkout-form">
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail" require="" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" name="name" class="form-control" id="exampleInputName" require="" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputAddress">Address</label>
                    <input type="text" name="address" class="form-control" id="exampleInputAddress" require="" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="exampleInputAddress">Phone</label>
                    <input type="text" name="phone" class="form-control" id="exampleInputAddress" require="" placeholder="Enter name">
                </div> 
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>