
	<header class="header-content" id="click-vao">
		<div class="header-container">
			<div class="menu-top-1">
				<div class="container">
					<div class="top-bar">
						<ul class="top-bar-list">
							<li><span>30 days</span> free return</li>
							<li><span>24/7</span> customer service</li>
							<li><span>best</span> worldwide delivery</li>
						</ul>
						<div id="google-translate">
							<select class="language">
								<option value="">Choose Language</option>
								<option value="ja">Japanese</option>
								<option value="vi">Vietnamese</option>
								<option value="zh-CN">Chinese</option>
							</select>
						</div>	
					</div> 
					<!-- end top-bar -->
				</div>
			</div>
			<!-- end menu-top-1 -->

			<div class="menu-top-2">
				<div class="container">
					<div class="top-bar-two">
						<div class="top-bar-left">
							<ul class="list-left">
								<li><i class="fa fa-phone"></i> <span>(+080) 5324 5796</span></li>
								<li><i class="fa fa-envelope"></i> <span>lexuanduc109@gmail.com</span></li>
							</ul>
						</div>
						<div class="top-bar-right">
							<ul class="list-right">
								<li><a href=""><i class="fa fa-map-marker"></i> Store Location</a></li>
								<li><a href=""><i class="fa fa-truck"></i> Your Order</a></li>
								<li><a href="">USD <i class="fa fa-angle-down"></i></a></li>
								<li>
									{{#if user}}
										<a class="btn btn-default logout user-login" href="/user/profile"><span>Hello {{user.firstName}} {{user.lastName}}</span></a>
										<a class="btn btn-warning logout" href="/user/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
									{{ else }}
										<a href="/user/signin"><i class="fa fa-user"></i> ログインする </a>
										<span> or </span>
										<a href="/user/signup"><i class="fa fa-user"></i> 新規社員登録 </a>
									{{/if}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end menu-top-2 -->
		</div>
		<!-- end header-container -->

		<div class="header-main">
			<div class="container">
				<div class="wrapper-main">
					<div class="header-logo">
						<a href="/"><img src="/images/logo.png" alt=""></a>
					</div>
					<div class="search">
						<form action="">
							<input type="text" placeholder="Search">
							<button id="btnSearch" ><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="icons-items">
						<ul class="header-list-icons">
							<li>
								<a href="">
									<i class="fas fa-redo-alt"></i>
									<span id="repeat-number">0</span>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-heart"></i>
									<span id="heart-number">0</span>
								</a>	
							</li>
							<li class="prew">
								<i class="fa fa-cart-plus"></i>
								<span id="cart-number">
									{{# if session.cart.totalQty}}
		            					{{ session.cart.totalQty }}
		            				{{ else }} 0
		          					{{/if}}
	          					</span>
							</li>
								<div class="prew-cart">
									<form action="#" method="post" accept-charset="utf-8">
										<div class="close-item">
											<i class="fas fa-times"></i>
										</div>
										<h3>YOUR CART</h3>
										{{# if cartItems}}
											<div class="wrapper-cart">
												{{# each cartItems}}
													<div class="cart-items">
														<a href=""><img src="/images/product-img/{{this.item._id}}/{{this.item.images}}" alt=""></a>
														<div class="cart-item">
															<div class="cart-name">
																<a href="">{{ this.item.title }}</a>
																<a href="/cart/remove/{{this.item._id}}">
																	<i class="remove fas fa-times"></i>
																</a>
																
															</div>
															<div class="cart-quantity">QTY: {{this.qty }}</div>
															<div class="cart-price-home">${{ this.item.price}}.00</div>
														</div>
													</div>
													<div class="hr-class"></div>
												{{/each}}	
											</div> <!-- end wrapper-cart -->
											<div class="cart-total">
												<h4>Cart Total</h4>
												<span>${{ session.cart.totalPrice }}.00</span>
												<a class="action" href="/cart/shopping-cart">Go to Cart</a>
												<a id="btn-cart" href="/cart/checkout">Proceed to Checkout</a>
											</div>
										{{else}}
											<span class="tuika">商品追加されていません。</span>
										{{/if}}	
									</form>
								</div>
								
							<div class="black"></div>
						</ul>
					</div>
				</div>
				<!-- End .wrapper-main -->
			</div>
		</div>
		<!-- End .header-main -->
		
		<div class="header-navigation d-none d-lg-block">
			<div class="container">
				<div class="menu-nav">
					<div class="navigation">
						<div class="menu-left">
							<i class="fa fa-list-ul"></i>
							<span>Shop By Collection </span>
							<nav class="navbar vertical-navbar">
								<div class="collapse navbar-collapse">
									<ul class="main-nav ">
										<li><a href="#">TV & Audio</a></li>
										<!-- Start Gadgets -->
										<li class="nav-gadgets">
											<div class="gadgets-left">
												<a href="#">
													Gadgets <sup class="label label-primary"> Hot</sup>
													<i class="fa fa-chevron-right"></i>
												</a>
											</div>
											<div class="gadgets-right" >
												<div class="row row-nav" style="min-height: 400px; background:url(./images/home-img/vertical_mega_menu_bg_img_2.png) no-repeat bottom right #fff;">
													<div class="col-4" ><!-- col-sm-4 col-sm-offset-2 text-left -->
														<a href=""><span>Watchs</span></a>
														<ul class="list-warchs">
															<li><a href="">All Watches</a></li>
															<li><a href="">Men's Watches</a></li>
															<li><a href="">Women's Watches</a></li>
															<li><a href="">Kid Watches</a></li>
															<li><a href="">Premium Watches</a></li>
														</ul>
													</div>
													<div class="col-4-2"><!-- col-sm-4 col-sm-push-2 -->
														<a href=""><span>Eyes</span></a>
														<ul class="list-eyes">
															<li><a href="">Men’s Sunglasses</a></li>
															<li><a href="">Women’s Sunglasses</a></li>
															<li><a href="">Spectacle Frames</a></li>
															<li><a href="">All Sunglasses</a></li>
															<li><a href="">Amazon Fashion</a></li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<!-- End Gadgets -->

										<!-- Start All in one -->
										<li class="nav-in-one">
											<div class="all-one-left">
												<a href="#">All in one<i class="fa fa-chevron-right"></i></a>
											</div>
											<div class="all-one-right" >
												<div class="row row-nav" style="min-height: 400px; background:url(./images/home-img/vertical_mega_menu_bg_img_1.png) no-repeat bottom right #fff;">
													<div class="col-4">
														<div class="col-left-top">
															<a href=""><span>Computers & Accessories</span></a>
															<ul class="list-com-acc">
																<li><a href="">All Computers & Accessories</a></li>
																<li><a href="">Laptops, Desktops & Monitors</a></li>
																<li><a href="">Printers & Ink</a></li>
																<li><a href="">Networking & Internet Devices</a></li>
															</ul>
														</div>
														<div class="col-left-bottom">
															<a href=""><span>Mobiles & Tablets</span></a>
															<ul class="list-mob-tab">
																<li><a href="">Cases & Covers</a></li>
																<li><a href="">Android Mobiles</a></li>
																<li><a href="">Windows Mobiles</a></li>
															</ul>
														</div>
													</div>
													<div class="col-4-2">
														<div class="col-left-right">
															<a href=""><span>Audio & Video</span></a>
															<ul class="list-au-vi">
																<li><a href="">All Cameras & Photography</a></li>
																<li><a href="">Camera Accessories</a></li>
																<li><a href="">Digital SLRs</a></li>
																<li><a href="">Security & Surveillance</a></li>
																<li><a href="">Binoculars & Telescopes</a></li>
																<li><a href="">Camcorders</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<!-- End All in one -->

										<!-- Start Accessories -->
										<li class="nav-acc">
											<div class="acc-left">
												<a href="">Accessories<i class="fa fa-chevron-right"></i></a>
											</div>	
											<div class="acc-right">
												<div class="wrap-acc">
													<ul class="acc">
														<li><a href="">Cameras</a></li>
														<li><a href="">Software</a></li>
														<li><a href="">Phones & PDAs</a></li>
														<li><a href="">MP3 Players</a></li>
													</ul>
												</div>
											</div>
										</li>
										<!-- End Accessories -->

										<!-- Start GamingNew -->
										<li class="nav-gam">
											<div class="gam-left">
												<a href="">GamingNew <sup class="label label-primary"> New</sup><i class="fa fa-chevron-right"></i>
												</a>
											</div>
											<div class="gam-right">
												<div class="wrap-gam">
													<ul class="gam">
														<li><a href="">Headphone</a></li>
														<li><a href="">Mouse</a></li>
														<li><a href="">Keyboard</a></li>
													</ul>
												</div>
											</div>
										</li>
										<!-- End GamingNew -->
										
										<li><a href="">Laptop & Computer</a></li>	
										<li><a href="">Mac Computers</a></li>	
										<li><a href="">PC Computer</a></li>	
										<li><a href="">Ultrabooks</a></li>	
										<li><a href="">Printers & Ink</a></li>		
									</ul>
								</nav>
							</div> <!-- end menu-left -->
						<div class="menu-right">
							<ul class="list-home">
								<li><a href="#">Home</a></li>
								<li class="dropdown-catalog">
									<div class="dropdown-inner">
										<a href="#">Catalog
											<sup class="label label-primary"> New</sup>
											<i class="fa fa-chevron-down"></i>
										</a>
									</div>	
									<div class="catalog" style="min-height: 100px; background:url(./images/home-img/mega_menu_bg_img_1.jpg) no-repeat top right #fff;">
										<div class="catalog-1">
											<a href=""><span>Laptop</span></a>
											<ul class="list-catalog">
												<li><a href="/catalog/toshiba">Toshiba</a></li>
												<li><a href="">Samsung</a></li>
												<li><a href="">Lenovo</a></li>
												<li><a href="">Dell</a></li>
												<li><a href="">Apple</a></li>
												<li><a href="">Acer</a></li>
											</ul>
										</div>
										<div class="catalog-2">
											<a href=""><span>Shop Pages</span></a>
											<ul class="list-catalog">
												<li><a href="">Shop Full Width</a></li>
												<li><a href="">Shop Left Sidebar</a></li>
												<li><a href="">Shop Right Sidebar</a></li>
												<li><a href="">Shop Sub Collection</a></li>
												<li><a href="">Quick Buy Conllection</a></li>
											</ul>
										</div>
										<div class="catalog-3">
											<a href=""><span>Single Product Pages</span></a>
											<ul class="list-catalog">
												<li><a href="">Single Product Extended</a></li>
												<li><a href="">Single Product Sidebar</a></li>
												<li><a href="">Group Product</a></li>
												<li><a href="">Discount Popup Product</a></li>
											</ul>
										</div>
									</div>
								</li>
								<!-- End Catalog -->
								<li class="dropdown-blog">
									<div class="dropdown-inner">
										<a href="#">Blog
											<sup class="label label-primary"> Hot</sup>
											<i class="fa fa-chevron-down"></i>
										</a>
									</div>
									<div class="blog">
										<div class="blog-1">
											<ul class="list-blog">
												<li><a href="">blog style 01</a></li>
												<li><a href="">blog style 02</a></li>
											</ul>
										</div>
									</div>
								</li>
								<!-- End Blog -->
								<li class="dropdown-pages">
									<div class="dropdown-inner">
										<a href="#">Pages
											<i class="fa fa-chevron-down"></i>
										</a>
									</div>
									<div class="pages">
										<div class="pages-1">
											<ul class="list-pages">
												<li><a href="">Abous Us</a></li>
												<li><a href="">Contact Us</a></li>
												<li><a href="">FAQs</a></li>
												<li><a href="">Term & Condition</a></li>
											</ul>
										</div>
									</div>
								</li>
								<!-- End Pages -->
								<li class="dropdown-features">
									<div class="dropdown-inner">
										<a href="#">Features
											<sup class="label label-primary"> Sale</sup>
											<i class="fa fa-chevron-down"></i>
										</a>
									</div>
									<div class="features">
										<div class="feature-1">
											<ul class="list-feature">
												<li class="product-1">
													<div class="product">
														<a href=""><span>Daltex Product Example</span>
															<img src="./images/home-img/LaptopYoga_370x.jpg" alt="">
														</a>
														<p class="price">$200.00<span>$250.00</span></p>
													</div>
												</li>
												<li class="product-2">
													<div class="product">
														<a href=""><span>Daltex Product Example</span>
															<img src="./images/home-img/WirelessSound_370x.jpg" alt="">
														</a>
														<p class="price"><span>$310.00</span></p>
													</div>
												</li>
												<li class="product-3">
													<div class="product">
														<a href=""><span>Daltex Product Example</span>
															<img src="./images/home-img/Photocamera_370x.jpg" alt="">
														</a>
														<p class="price">$60.00<span>$80.00</span></p>
													</div>
												</li>
												<li class="product-4">
													<div class="product">
														<a href=""><span>Daltex Product Example</span>
															<img src="./images/home-img/MobilePowerBank_370x.jpg" alt="">
														</a>
														<p class="price">$450.00<span>$500.00</span></p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<!-- end Features -->
								<li><a href="#">Gift Cards</a></li>
							</ul>
							<span class="service">Free Shipping on Orders $500+</span>
						</div>				
					</div> 
					<!-- end .navigation -->
				</div> 
				<!-- end .menu-nav -->
			</div> 
			<!-- end container -->
		</div>
		<!-- end .header-navigation -->
	</header>

	<section id="section-main">
		<div class="container-fluid main-slide">
			<video autoplay muted id="video1" class="video active video1">
				<source src="./images/home-img/video1.mp4" type="video/mp4">
			</video>
			<video autoplay muted id="video2" class="video video2">
				<source src="./images/home-img/video2.mp4" type="video/mp4">
			</video>
			<video autoplay muted id="video3" class="video video3">
				<source src="./images/home-img/video3.mp4" type="video/mp4">
			</video>
			<div class="buttom">
				<ul class="dots">
					<li class="active">1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
			<div class="text">
				<h4>shop to get what you love</h4>
				<p>timepieces that make a <br>
					statement up to 40% off
				</p>
				<a href="">Start Buying</a>
			</div>
		</div> <!-- end container -->
	</section> <!-- end section video -->

	<section id="product-header">
		<div class="container">
			<div class="home-baner">
				<div class="row ">
					{{# each productContent}}
						{{# each this}}
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="home-baner-1 baner">
									<a href=""><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
								</div>
							</div>
						{{/each}}
					{{/each}}
				</div>
			</div> <!-- End home-baner -->
		</div>
		<div class="container">
			<div class="wrap-tab-content">
				<div class="nav-tab-content">
					<ul class="nav-tabs">
						<li class="nav-active">Featured <span></span></li>
						<li>On Sale <span></span></li>
						<li>Top Rated <span></span></li>
					</ul>
				</div>
				<div class="tab-content">
					<div class="content-1 content content-active">
						<div class="row">
							{{# each products}}
								{{# each this}}
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="wrap-special">
											<div class="special">
												<span>Special<br>Offer</span>
												<p>Save<span class="sale-special">24%</span></p>
											</div>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-img">
												<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
											</a>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-text">{{this.title}}</a>
											<div class="special-price ">{{this.salePrice}}.00<span>${{this.price}}.00</span></div>
											<div class="sell-available">
												<span>Already Sold: <span class="bold">8</span></span>
												<span>Available: <span class="bold">6</span></span>
											</div>
											<div class="offer-time">
												<p>Hurry Up! Offer ends in</p>
												<div class="time">
													<span class="days">68</span> : 
													<span class="hours">11</span> : 
													<span class="minutes">45</span> :
													<span class="seconds">60</span>
												</div>
												<span>Days</span>
												<span>Hours</span>
												<span>Minutes</span>
												<span>Seconds</span>
											</div>
										</div>
									</div>
								{{/each}}
							{{/each}}
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								{{# each productContent1}}
									<div class="row">
										{{# each this}}
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-tabs-1">
												<div class="tab-icons tab-icon-1 ">
													<div class="border-right"></div>
													<div class="product-vendor">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
													</div>				
													<div class="product-name">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
													</div>
													{{#if salePrice}}
														<div class="product-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
														<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
													</a>
													{{#if salePrice}}
														<div class="product-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													
													<div class="product-button">
															<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>
														<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
													</div>
												</div> 
											</div> 
										{{/each}}
									</div>
								{{/each}}
							</div> <!-- end col-8 -->		
						</div> <!-- end row chinh -->	
					</div> <!-- end content-1 -->

					<!-- 11111111111111111111111111111111111111111111111111111111111111111111111111 -->

					<div class="content-2 content">
						<div class="row">
							{{# each products1}}
								{{# each this}}
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="wrap-special">
											<div class="special">
												<span>Special<br>Offer</span>
												<p>Save<span class="sale-special">24%</span></p>
											</div>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-img">
												<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
											</a>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-text">{{this.title}}</a>
											<div class="special-price">${{this.salePrice}}.00<span>${{this.price}}.00</span></div>
											<div class="sell-available">
												<span>Already Sold: <span class="bold">8</span></span>
												<span>Available: <span class="bold">6</span></span>
											</div>
											<div class="offer-time">
												<p>Hurry Up! Offer ends in</p>
												<div class="time">
													<span class="days">68</span> : 
													<span class="hours">11</span> : 
													<span class="minutes">45</span> :
													<span class="seconds">60</span>
												</div>
												<span>Days</span>
												<span>Hours</span>
												<span>Minutes</span>
												<span>Seconds</span>
											</div>
										</div>
									</div>
								{{/each}}
							{{/each}}
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								{{# each productContent2}}
									<div class="row">
										{{# each this}}
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-tabs-1">
												<div class="tab-icons tab-icon-1 ">
													<div class="border-right"></div>
													<div class="product-vendor">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
													</div>					
													<div class="product-name">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
													</div>
													{{#if salePrice}}
														<div class="product-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href="/cart/show-cart/{{this._id}}"><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
													{{#if salePrice}}
														<div class="product-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-button">
															<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>
								
														<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
													</div>
												</div> 
											</div> 
										{{/each}}
									</div>
								{{/each}}
							</div> <!-- end col-8 -->		
						</div> <!-- end row chinh -->	
					</div> <!-- end content-2 -->

					<!-- 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 -->
					<div class="content-3 content">
						<div class="row">
							{{# each products2}}
								{{# each this}}
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="wrap-special">
											<div class="special">
												<span>Special<br>Offer</span>
												<p>Save<span class="sale-special">24%</span></p>
											</div>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-img">
												<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
											</a>
											<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-text">{{this.title}}</a>
											<div class="special-price">${{this.salePrice}}.00<span>${{this.price}}.00</span></div>
											<div class="sell-available">
												<span>Already Sold: <span class="bold">8</span></span>
												<span>Available: <span class="bold">6</span></span>
											</div>
											<div class="offer-time">
												<p>Hurry Up! Offer ends in</p>
												<div class="time">
													<span class="days">68</span> : 
													<span class="hours">11</span> : 
													<span class="minutes">45</span> :
													<span class="seconds">60</span>
												</div>
												<span>Days</span>
												<span>Hours</span>
												<span>Minutes</span>
												<span>Seconds</span>
											</div>
										</div>
									</div>
								{{/each}}
							{{/each}}
							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
								{{# each productContent3}}
									<div class="row">
										{{# each this}}
											<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-tabs-1">
												<div class="tab-icons tab-icon-1 ">
													<div class="border-right"></div>
													<div class="product-vendor">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.name}}</a>
													</div>					
													<div class="product-name">
														<a href="/cart/show-cart/{{this._id}}/{{this.images}}">{{this.title}}</a>
													</div>
													{{#if salePrice}}
														<div class="product-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href="/cart/show-cart/{{this._id}}/{{this.images}}">
														<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
													</a>
													{{#if salePrice}}
														<div class="product-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-button">
															<a data-toggle="modal" href='#modal-id'><i class="fa fa-eye"> Quick View </i></a>
								
														<div class="wishlist"><i class="fa fa-heart"> Wishlist</i></div>
													</div>
												</div> 
											</div> 
										{{/each}}
									</div>
								{{/each}}
							</div> <!-- end col-8 -->		
						</div> <!-- end row chinh -->	
					</div> <!-- end content-2 -->


					<!-- code view product -->
					<div class="modal fade" id="modal-id">
						<div class="modal-dialog">
							<div class="modal-content">
								{{# each productsItems }}
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title">Modal title</h4>
									</div>
									<div class="modal-body">
										<div id="qs-product-image" class="product-image-inner">
										<div class="modal-owl owl-carousel owl-theme owl-loaded">
											<img class="modal-item" src={{this.item.images}} alt="">
											<img class="modal-item" src={{this.item.images}} alt="">
											<img class="modal-item" src={{this.item.images}} alt="">
											<!-- <img class="modal-item" src="./images/home-img/Tablet_420x.jpg" alt=""> -->
										</div>
									</div>
									<div class="product-info-cart">
										<div class="qs-product-vendor"><a href="">Chirstian Dior</a></div>						
										<div class="qs-product-name"><a href="">Finity Product Sample</a></div>
										<div class="qs-rating">
											<span class="spr-badge">
												<span class="spr-starrating spr-badge-starrating">
													<i class="far fa-star"></i>
													<i class="far fa-star"></i>
													<i class="far fa-star"></i>
													<i class="far fa-star"></i>
													<i class="far fa-star"></i>
												</span>
												<span class="spr-badge-caption">( 1 review )</span>
											</span>
										</div>
										<div class="qs-product-price">$450.00 <span>$500.00</span></div>
										<div class="qs-action-wrapper">
											<form action="#" method="post" id="qs-product-action" accept-charset="utf-8">
												<div id="qs-product-variants" class="variants-wrapper">
													<div class="selector-wrapper size">
														<label for="size">Size</label>
														<select class="single-option-selector" data-option="option1">
															<option value="S">S</option>
															<option selected="selected" value="M">M</option>
															<option value="L">L</option>
															<option value="XL">XL</option>
														</select>
													</div>
													<div class="selector-wrapper color">
														<label for="color">Color</label>
														<select class="single-option-selector" data-option="option2">
															<option value="blue">Blue</option>
															<option selected="selected" value="red">Red</option>
															<option value="pink">pink</option>
														</select>
													</div>
												</div>
												<div class="qs-description">
													<ul>
														<li><span class="a-list-item">Easy management.</span></li>
														<li><span class="a-list-item">Fast printing. Strong protection.</span></li>
														<li><span class="a-list-item">Easy management. Efficient printing.</span></li>
														<li><span class="a-list-item">The 2-line LCD display is simple to read and operate.</span></li>
														<li><span class="a-list-item">Stay connected with easy mobile printing options.</span></li>
													</ul>
												</div>
												<div class="quantity-product qs-quantity-product">
													<label>Quantity</label>
													<div class="quantity qs-quantity">
														<input type="number" id="qs-quantity" name="quantity" class="faxtex-product-sampleitem-quantity" value="1" min="1" max="100">
													</div>
												</div>
												<div class="qs-product-button">
													<button id="qs-add-cart" class="btn btn-1 add-to-cart" type="submit" name="add"><i class="fa fa-cart-plus">
													</i> Add to cart</button>
												</div>
											</form>
										</div>
									</div> <!-- end product-info-cart -->
								{{/each}}
							</div> <!-- end modal-content -->
						</div> <!-- end modal-dialog -->
					</div> <!-- end modal-id -->
				</div> <!-- End tab-content -->
			</div> <!-- end wrap-tab-content -->
		</div> <!-- End container -->
	</section>

	<section id="product-main">
		<div class="container">
			<div class="wrap-tabs-main">
				<div class="tabs-menu">
					<ul class="product-list-menu">
						<li class="tabs-active">Best Deals <span></span></li>
						<li>TV & Video <span></span></li>
						<li>Cameras <span></span></li>
						<li>Audio <span></span></li>
					</ul>
				</div> <!-- End product-menu -->
				<div class="tabs-main">
					<div class="wrap-tab-1 wrap-tab main-active">
						<div class="row">
							<div class="tab-main-1">
								{{#each productMain1}}
									{{#each this}}
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="tab-products">
												<div class="tab-product-1">
													<div class="product-main-vendor"><a href="">{{this.name}}</a></div>						
													<div class="product-main-name"><a href="">{{this.title}}</a></div>
													{{#if salePrice}}
														<div class="product-main-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href=""><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
													{{#if salePrice}}
														<div class="product-main-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-main-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-main-button">
														<i class="fa fa-eye"> Quick View </i>
														<i class="fa fa-heart"> Wishlist</i>
													</div>
												</div>
											</div>
										</div>
									{{/each}}
								{{/each}}
							</div><!--  end tab1 main-1 -->
						</div> <!-- end row -->
					</div> <!-- End wrap-tab-1 -->

					<div class="wrap-tab-2 wrap-tab">
						<div class="row">
							<div class="tab-main-1">
								{{#each productMain2}}
									{{#each this}}
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="tab-products">
												<div class="tab-product-1">
													<div class="product-main-vendor"><a href="">{{this.name}}</a></div>						
													<div class="product-main-name"><a href="">{{this.title}}</a></div>
													{{#if salePrice}}
														<div class="product-main-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href=""><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
													{{#if salePrice}}
														<div class="product-main-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-main-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-main-button">
														<i class="fa fa-eye"> Quick View </i>
														<i class="fa fa-heart"> Wishlist</i>
													</div>
												</div>
											</div>
										</div>
									{{/each}}
								{{/each}}
							</div><!--  end tab1 main-1 -->
						</div> <!-- end row -->
					</div> <!-- End Tab-main-2 -->
					<div class="wrap-tab-3 wrap-tab">
						<div class="row">
							<div class="tab-main-1">
								{{#each productMain3}}
									{{#each this}}
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="tab-products">
												<div class="tab-product-1">
													<div class="product-main-vendor"><a href="">{{this.name}}</a></div>						
													<div class="product-main-name"><a href="">{{this.title}}</a></div>
													{{#if salePrice}}
														<div class="product-main-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href=""><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
													{{#if salePrice}}
														<div class="product-main-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-main-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-main-button">
														<i class="fa fa-eye"> Quick View </i>
														<i class="fa fa-heart"> Wishlist</i>
													</div>
												</div>
											</div>
										</div>
									{{/each}}
								{{/each}}
							</div><!--  end tab1 main-1 -->
						</div> <!-- end row -->
					</div> <!-- End Tab-main-3 -->

					<div class="wrap-tab-4 wrap-tab">
						<div class="row">
							<div class="tab-main-1">
								{{#each productMain4}}
									{{#each this}}
										<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
											<div class="tab-products">
												<div class="tab-product-1">
													<div class="product-main-vendor"><a href="">{{this.name}}</a></div>						
													<div class="product-main-name"><a href="">{{this.title}}</a></div>
													{{#if salePrice}}
														<div class="product-main-sale"><a href="">SALE</a></div>
													{{/if}}
													<a href=""><img src="/images/product-img/{{this._id}}/{{this.images}}" alt=""></a>
													{{#if salePrice}}
														<div class="product-main-price">${{this.salePrice}}.00
															<span>${{this.price}}.00</span>
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{ else }}
														<div class="product-main-price col-none">
															${{this.price}}.00
															<a href="/cart/add-to-cart/{{this._id}}">
																<i class="fa fa-cart-plus"></i>
															</a>
														</div>
													{{/if}}
													<div class="product-main-button">
														<i class="fa fa-eye"> Quick View </i>
														<i class="fa fa-heart"> Wishlist</i>
													</div>
												</div>
											</div>
										</div>
									{{/each}}
								{{/each}}
							</div><!--  end tab1 main-1 -->
						</div> <!-- end row -->
					</div> <!-- End Tab-main-4 -->
				</div> <!-- End Tabs main -->
			</div> <!-- End wrap-tabs-main -->
		</div> <!-- End container -->
	</section> <!-- end product-main -->

	<section id="panel-bestsellers">
		<div class="container">
			<div class="wrap-panel">
				<h3>Bestsellers</h3>
				<div class="tabs-panel-content">
					<ul class="list-panel">
						<li class="panel-active">Top 20</li>
						<li>Phone & Tablets</li>
						<li>Laptops & Computers</li>
						<li>Video & Cameras</li>
					</ul>
				</div> <!-- end tabs-panel-contetn -->
				<div class="tabs-panel-product-1 tabs-panel  tabs-panel-active">
					<div class="owl-one owl-carousel owl-theme owl-loaded">
						<div class="wrap-product-1 item" >
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/Printer_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Faxtax Product Example</a></div>
										<div class="panel-price">$110.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-1 -->
							<div class="panel-product-2 ">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Tablet_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Faxtax Product Example</a></div>
										<div class="panel-price col-none">$110.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-2 -->
						</div>	<!-- end wrap-product-1 -->

						<div class="wrap-product-2 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/DekstopPC_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Freshkix Product Example</a></div>
										<div class="panel-price">$120.00 <span>$150.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-1 -->
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Phone3_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Kinaix Product Example</a></div>
										<div class="panel-price col-none">$320.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-2 -->
						</div>	<!-- end wrap-product-2 -->

						<div class="wrap-product-3 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/Smartphone7_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Lexizimin Product Example</a></div>
										<div class="panel-price">$50.00 <span>$150.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-1 -->
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Smartphone4_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Lexiit Product Example</a></div>
										<div class="panel-price col-none">$40.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-2 -->
						</div>	<!-- end wrap-product-3 -->

						<div class="wrap-product-4 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/Laptop2_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Givenchy</a></div>
										<div class="panel-name"><a href="">Hot Com Product Example</a></div>
										<div class="panel-price">$225.00 <span>$250.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-1 -->
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/MobilePowerBank_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Kaydex Product Example</a></div>
										<div class="panel-price">$450.00 <span>$500.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-2 -->
						</div>	<!-- end wrap-product-4 -->

						<div class="wrap-product-5 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="img "><a href=""><img src="./images/home-img/Laptop_50_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Golddax Product Example</a></div>
										<div class="panel-price">$120.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-1 -->
							<div class="panel-product-2">
								<div class="product-label">
									<div class="img "><a href=""><img src="./images/home-img/Earphones_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Georgeous White Bag</a></div>
										<div class="panel-price col-none">$149.99<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> <!-- end panel-product-2 -->
						</div>	<!-- end wrap-product-5 -->
					</div> <!-- end owl-panel-one -->
				</div> <!-- end tab-panel product-1-->
				
	<!-- ////////////////////////////////////////////////////////////////////Tabs-panel-product-2/////////////////////////////////////////////////////////// 
		===================================================================================================================================================
	-->
				<div class="tabs-panel-product-2 tabs-panel">
						<div class="owl-one owl-carousel owl-theme owl-loaded">
							<div class="wrap-product-1 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img"><a href=""><img src="./images/home-img/DekstopPC_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Armani</a></div>
											<div class="panel-name"><a href="">Freshkix Product Example</a></div>
											<div class="panel-price">$120.00 <span>$150.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2 ">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Earphones_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Bulgari</a></div>
											<div class="panel-name"><a href="">Georgeous White Bag</a></div>
											<div class="panel-price col-none">$149.99<i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-2 -->
							</div>	<!-- end wrap-product-1 -->
							<div class="wrap-product-2 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img"><a href=""><img src="./images/home-img/FlashDrive_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Donna Karan</a></div>
											<div class="panel-name"><a href="">Georgeous White Dresses</a></div>
											<div class="panel-price">$349.00 <span>$470.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/GameStation_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
											<div class="panel-name"><a href="">Gold Diamond Chain</a></div>
											<div class="panel-price col-none">$399.90<i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-2 -->
							</div>	<!-- end wrap-product-2 -->

							<div class="wrap-product-3 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Phone_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Donna Karan</a></div>
											<div class="panel-name"><a href="">Kelend Product Example</a></div>
											<div class="panel-price">$330.00 <span>$400.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Phone3_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Donna Karan</a></div>
											<div class="panel-name"><a href="">Kinair Product Example</a></div>
											<div class="panel-price col-none">$320.00 <i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-2 -->
							</div>	<!-- end wrap-product-3 -->

							<div class="wrap-product-4 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Printer_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Bulgari</a></div>
											<div class="panel-name"><a href="">Faxtex Product Example</a></div>
											<div class="panel-price">$110.00 <span>$190.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Smartwatch_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Christian Dior</a></div>
											<div class="panel-name"><a href="">Finity Product Example</a></div>
											<div class="panel-price">$90.00 <span>$120.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div><!--  end panel-product-2 -->
							</div>	<!-- end wrap-product-4 -->

							<div class="wrap-product-5 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Tablet_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
											<div class="panel-name"><a href="">Fixair Product Example</a></div>
											<div class="panel-price">$210.00<i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/ActionCamera_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Donna Karan</a></div>
											<div class="panel-name"><a href="">Freecof Product Example</a></div>
											<div class="panel-price col-none">$450.00<i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-2 -->
							</div>	<!-- end wrap-product-5 -->

							<div class="wrap-product-6 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="img "><a href=""><img src="./images/home-img/TV_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Bulgari</a></div>
											<div class="panel-name"><a href="">Hotex Product Example</a></div>
											<div class="panel-price">$70.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-1 -->
								<div class="panel-product-2">
									<div class="product-label">
										<div class="img "><a href=""><img src="./images/home-img/Laptop4_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Armani</a></div>
											<div class="panel-name"><a href="">Irene Royal Product</a></div>
											<div class="panel-price col-none">$150.00<i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> <!-- end panel-product-2 -->
							</div>	<!-- end wrap-product-6 -->
					</div> <!-- end owl-panel-two -->
				</div> <!-- end tab-panel product-2-->

				<!-- ////////////////////////////////////////////////////////////////////Tabs-panel-product-3////////////////////////////////////////////////////
		===================================================================================================================================================
	-->
				<div class="tabs-panel-product-3 tabs-panel">
					<div class="owl-one owl-carousel owl-theme owl-loaded">
						<div class="wrap-product-1 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/GamePad_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Black Product Example</a></div>
										<div class="panel-price">$380.00 <span>$500.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-product-2 ">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/WirelessSound_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Coneco Product Example</a></div>
										<div class="panel-price col-none">$310.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-1 -->

						<div class="wrap-product-2 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/LaptopYoga_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Daltex Product Example</a></div>
										<div class="panel-price">$200.00 <span>$250.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Headphones_200x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Givenchy</a></div>
										<div class="panel-name"><a href="">Dentoex Product Example</a></div>
										<div class="panel-price ">$450.90 <span>$499.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-2 -->
							
						<div class="wrap-product-3 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/GoldPhone_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Dentotam Product Example</a></div>
										<div class="panel-price">$20.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Photocamera_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Donkix Product Example</a></div>
										<div class="panel-price">$60.00  <span>$80.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-3 -->

						<div class="wrap-product-4 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Printer_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Faxtex Product Example</a></div>
										<div class="panel-price">$110.00 <span>$190.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Smartwatch_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Finity Product Example</a></div>
										<div class="panel-price">$90.00 <span>$120.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-4 -->

						<div class="wrap-product-5 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Tablet_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Fixair Product Example</a></div>
										<div class="panel-price">$210.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/ActionCamera_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Freecof Product Example</a></div>
										<div class="panel-price col-none">$450.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-5 -->

						<div class="wrap-product-6 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/DekstopPC_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Frishkix Product Example</a></div>
										<div class="panel-price">$120.00 <span>$150.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Earphones_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Georgeous White Bag</a></div>
										<div class="panel-price col-none">$149.99<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-6 -->

						<div class="wrap-product-7 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/FlashDrive_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Georgeous White Dresses</a></div>
										<div class="panel-price">$349.00 <span>$470.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/GameStation_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Gold Diamond Chain</a></div>
										<div class="panel-price col-none">$399.90<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-7 -->

						<div class="wrap-product-8 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Laptop_50_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Golddax Product Example</a></div>
										<div class="panel-price">$120.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Laptop2_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Givenchy</a></div>
										<div class="panel-name"><a href="">Hot Com Product Exmaple</a></div>
										<div class="panel-price">$225.00 <span>$250.00</span<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-8 -->

						<div class="wrap-product-9 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/TV_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Hotex Product Example</a></div>
										<div class="panel-price">$70.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Laptop4_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Irene Royal Product</a></div>
										<div class="panel-price col-none">$150.00<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-9 -->

						<div class="wrap-product-10 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="img "><a href=""><img src="./images/home-img/MobilePowerBank_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Kaydex Product Example</a></div>
										<div class="panel-price">$450.00 <span>$500.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-product-2">
								<div class="product-label">
									<div class="img "><a href=""><img src="./images/home-img/Phone_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Kelend Product</a></div>
										<div class="panel-price ">$330.00 <span>$400.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-10 -->
					</div> <!-- end owl-carousel -->
				</div> <!-- end tab-panel product-3-->


				<!-- ////////////////////////////////////////////////////////////////////Tabs-panel-product-4/////////////////////////////////////////////////////////// 
		===================================================================================================================================================
	-->
				<div class="tabs-panel-product-4 tabs-panel">
					<div class="owl-one owl-carousel owl-theme owl-loaded">
						<div class="wrap-product-1 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/WirelessSound_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Christian Dior</a></div>
										<div class="panel-name"><a href="">Coneco Product Example</a></div>
										<div class="panel-price">$310.00 <i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2 ">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Earphones_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Daltex Product Example</a></div>
										<div class="panel-price">$200.00 <span>$250.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div>
						</div>	<!-- end wrap-product-1 -->

						<div class="wrap-product-2 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img"><a href=""><img src="./images/home-img/Headphones_200x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Givenchy</a></div>
										<div class="panel-name"><a href="">Dontoex Product Example</a></div>
										<div class="panel-price">$450.00 <span>$499.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Photocamera_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Armani</a></div>
										<div class="panel-name"><a href="">Donkix Product Example</a></div>
										<div class="panel-price">$60.00 <span>$80.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-2 -->

						<div class="wrap-product-3 item">
								<div class="panel-product-1">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Smartwatch_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Christian Dior</a></div>
											<div class="panel-name"><a href="">Finity Product Example</a></div>
											<div class="panel-price">$90.00 <span>$120.00</span><i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div> 
								<div class="panel-product-2">
									<div class="product-label">
										<div class="border-right"></div>
										<div class="img "><a href=""><img src="./images/home-img/Tablet_220x.jpg" alt=""></a></div>
										<div class="product-info">
											<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
											<div class="panel-name"><a href="">Fixair Product Example</a></div>
											<div class="panel-price col-none">$210.00 <i class="fa fa-cart-plus"></i></div>
											<div class="panel-button">
												<i class="fa fa-eye"> Quick View </i>
												<i class="fa fa-heart"> Wishlist</i>
											</div>
										</div>
									</div>
								</div>
						</div>	<!-- end wrap-product-3 -->

						<div class="wrap-product-4 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Earphones_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Georgeous White Bag</a></div>
										<div class="panel-price">$149.99<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/GameStation_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Gold Diamond Chain</a></div>
										<div class="panel-price col-none">$399.90<i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-4 -->

						<div class="wrap-product-5 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/TV_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Bulgari</a></div>
										<div class="panel-name"><a href="">Hotex Product Example</a></div>
										<div class="panel-price">$70.00 <span>$199.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="border-right"></div>
									<div class="img "><a href=""><img src="./images/home-img/Phone_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Donna Karan</a></div>
										<div class="panel-name"><a href="">Kelend Product</a></div>
										<div class="panel-price">$330.00 <span>$400.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-5 -->

						<div class="wrap-product-6 item">
							<div class="panel-product-1">
								<div class="product-label">
									<div class="img "><a href=""><img src="./images/home-img/Phone4_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Givenchy</a></div>
										<div class="panel-name"><a href="">Kinla Product Example</a></div>
										<div class="panel-price">$150.00 <span>$229.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
							<div class="panel-product-2">
								<div class="product-label">
									<div class="img"><a href=""><img src="./images/home-img/Smartphone7_220x.jpg" alt=""></a></div>
									<div class="product-info">
										<div class="panel-vendor"><a href="">Dolce & Gabbana</a></div>
										<div class="panel-name"><a href="">Lexizimin Product Example</a></div>
										<div class="panel-price">$50.00 <span>$150.00</span><i class="fa fa-cart-plus"></i></div>
										<div class="panel-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							</div> 
						</div>	<!-- end wrap-product-6 -->
					</div> <!-- end owl-carousel -->
				</div> <!-- end tab-panel product-4-->
			</div> <!-- end wrap-panel -->
			<div class="home-banner">
				<a href=""><img src="./images/home-img/home-1-banner-4_1170x.png" alt=""></a>
			</div>
		</div><!-- end container -->
	</section> <!-- end panel-bestsellers -->
	{{> footer}}