<div class="row">
	<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
		<div id="success" class="alert alert-success" {{#if noMessage}} hidden {{/if}}>
			{{successMsg}}
		</div>
	</div>
</div>

{{# each product1}}
	<div class="row">
		{{# each this}}
			<div class="col-sm-6 col-md-4">
				<div class="card">
				  <img src={{this.images}} class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">{{this.title}}</h5>
				    <p class="card-text">{{this.description}}</p>
				    <div class="clearfix">
				    	<div class="price">{{this.price}}</div>
				    	<a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add To Cart</a>
				    </div>
				  </div>
				</div>
			</div>
		{{/each}}
	</div>	<!-- end row -->
{{/each}}

