{{> header1}}
<section id="show-cart"> 
	<div class="container">
		<h1>Shopping Cart</h1>
		<div class="product-cart">
			<ul class="title-items">
				<li>Product</li>
				<li>Price</li>
				<li>Quantity</li>
				<li>Cart Total</li>
			</ul>
			{{# if productsItems}}
				{{# each productsItems }}
					<div class="items">
						<div class="cart-img">
							<img src="/images/product-img/{{this.item._id}}/{{this.item.images}}" alt="">
							<div class="cart-title"><a href="">{{ this.item.title }}</a></div>
						</div>
						{{#if salePrice}}
							<div class="cart-price">${{ this.salePrice}}</div>
						{{ else }}
							<div class="cart-price">${{ this.price}}</div>
						{{/if}}
						
						<div class="cart-quantity">
							<span>{{this.qty}}</span>
							<a class="add" href="/cart/update/{{this.item._id}}?action=add"><i class="fas fa-plus-circle"></i></a>
							<a class="reduce" href="/cart/update/{{this.item._id}}?action=reduce"><i class="fas fa-minus-circle"></i></a>
							<a class="remove" href="/cart/update/{{this.item._id}}?action=remove"><i class="fas fa-times-circle"></i></a>
							<!-- <a href="/cart/remove/{{this.item._id}}">X</a> -->
						</div>
						<div class="cart-total">${{this.totalItem}}</div>
					</div>
				{{/each}}
			{{ else }}
				<div class="row">
				    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
				    	<h2>No Items in cart</h2>
				    </div>
				</div>
			{{/if}}
		</div>
		<div class="cart-button">
			<a class="continue" href="/">Continue Shopping</a>
			<a class="clear-cart" href="/cart/checkout">Checkout</a>
		</div>
		<div class="total">Total: <span>${{totalPrice}}</span></div>
	</div> <!-- end container -->
</section>
{{> footer }}