{{> header1}}
<section id="show-cart-item"> 
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="show-cart-owl owl-carousel owl-theme owl-loaded">
						<img class="cart-img" src="/images/product-img/{{id}}/{{images}}" alt="">
						<img class="cart-img" src="/images/home-img/ActionCamera_420x.jpg" alt="">
						<img class="cart-img" src="/images/home-img/GamePad_370x.jpg" alt="">
						<img class="cart-img" src="/images/home-img/LaptopYoga_370x.jpg" alt="">
				</div>
				<div class="slick-list draggable">
					<img class="show-cart-img img-active" src="/images/product-img/{{id}}/{{images}}" alt="">
					<img class="show-cart-img" src="/images/home-img/ActionCamera_420x.jpg" alt="">
					<img class="show-cart-img" src="/images/home-img/GamePad_370x.jpg" alt="">
					<img class="show-cart-img" src="/images/home-img/LaptopYoga_370x.jpg" alt="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="show-cart-vendor"><a href="">{{sp.name}}</a></div>
				<div class="show-cart-name">{{sp.title}}</div>
				<div class="spr-badge">
					<span class="spr-starrating spr-badge-starrating">
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</span>
					<span class="spr-badge-caption"> &nbsp;( 1 review )</span>
				</div>
				<div class="show-cart-icons">
					<span class="face"><i class="fab fa-facebook"> Share</i></span>
					<span class="twitter"><i class="fab fa-twitter"> Tweet</i></span>
					<span class="google"><i class="fab fa-google-plus"> Google+</i></span>
				</div>
				<ul class="list-title">
					<li>Easy management</li>
					<li>Fast printing. Strong protection.</li>
					<li>Easy management. Efficient printing.</li>
					<li>The 2-line LCD display is simple to read and operate.</li>
					<li>Stay connected with easy mobile printing options</li>
				</ul>
				<ul class="introduce">
					<li>Product SKU: 4827521</li>
					<li>Category: Accessories, Keyboard, Laptops & Computer, Printers & Ink, Ultrabooks</li>
					<i class="fas fa-cart-plus"></i>
					<span><b>Other people want this.</b>18 people have this in their carts right now.</span>
					<p>Want it delivered by Wednesday, 30 January?Order within <span class="yell">04 Hours 15 Minutes 44 Seconds</span></p>
				</ul>
				
			</div>
			
			<div class="col-md-3">
				<div class="wap-carts">
					<div class="ava">Available: <span class="gr">In Stock</span></div>
						
						{{#if sp.salePrice}}
							<div class="show-cart-price">${{sp.price}}.00</div>
							<div class="show-cart-salePrice">${{sp.salePrice}}.00</div>
						{{ else }}
							<div class="show-cart-price size-cart col-none">${{sp.price}}.00</div>
						{{/if}}
					<div class="show-cart-quantity">
						<label>Quantity</label>
						<div class="quantity">
							<input type="number" id="quantity" name="quantity" class="faxtex-product-sampleitem-quantity" value="1" min="1" max="100">
						</div>
					</div>
					<div class="show-cart-color">
						<label for="color">Color</label>
						<span class="dots">
							<i class="dot-bl fas fa-dot-circle dot-active"></i>
							<i class="dot-red fas fa-dot-circle"></i>
							<i class="dot-gr fas fa-dot-circle"></i>
							<i class="dot-yl fas fa-dot-circle"></i>
						</span>
					</div>
					<div class="show-cart-size">
						<label for="size">Size</label>
						<div class="wrap-size">					
							<span class="size-m size-active">M</span>
							<span class="size-l">L</span>
							<span class="size-x">X</span>
							<span class="size-xl">XL</span>
						</div>
					</div>
					<div class="buts">
						<a href="/cart/add-to-cart/{{id}}" class="but-add"><i class="fa fa-cart-plus"> Add to cart</i></a>
						<a href="" class="but-buy"><span>Buy It Now</span></a>
					</div>
					<div class="button-view">
						<a href="" class="view-wish"><i class="fa fa-heart"> Wishlist </i></a>
						<a href="" class="view-com"><i class="fas fa-check">Compare</i></a>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end container -->
</section>
{{> footer }}