<section class="product-slider-section ">
		<div class="container">
			<div class="layout-boxed">
				<div class="title"><h3>Recently Viewed</h3></div>
				<div class="wrap-product-slider">
					<div class="owl-two owl-carousel owl-theme">
						{{#each RecentlyViewed}}
							{{#each this}}
								<div class="slider-item slider-item-1 item">
									<div class="wrap-item1">	
										<div class="border-right"></div>
										<div class="product-slide-vendor"><a href="">{{this.name}}</a></div>						
										<div class="product-slide-name"><a href="">{{this.title}}</a></div>
										{{#if salePrice}}
											<div class="product-slide-sale"><a href="">SALE</a></div>
										{{/if}}
										
										<a href="/cart/show-cart/{{this._id}}/{{this.images}}" class="special-img">
											<img src="/images/product-img/{{this._id}}/{{this.images}}" alt="">
										</a>
										{{#if salePrice}}
											<div class="product-slide-price">${{this.salePrice}}.00
												<span>${{this.price}}.00</span>
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{ else }}
											<div class="product-slide-price col-none">
												${{this.price}}.00
												<a href="/cart/add-to-cart/{{this._id}}">
													<i class="fa fa-cart-plus"></i>
												</a>
											</div>
										{{/if}}
										<div class="product-slide-button">
											<i class="fa fa-eye"> Quick View </i>
											<i class="fa fa-heart"> Wishlist</i>
										</div>
									</div>
								</div>
							{{/each}}
						{{/each}}			
					</div> <!-- end owl-two -->
				</div> <!-- end wrap-product-slider -->
			</div> <!-- end layout-boxed -->
		</div>	<!-- end container -->
	</section> <!-- end product-slider-section -->

	<section id="shopify-section-bottom">
		<div class="container">
			<div class="row">
			<div class="bottom-partner">
				<div class="owl-three owl-carousel owl-theme">
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_4_270x.png" alt=""></a></div>
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_3_270x.png" alt=""></a></div>
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_5_270x.png" alt=""></a></div>
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_6_270x.png" alt=""></a></div>
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_7_270x.png" alt=""></a></div>
					<div class="item partner-img"><a href=""><img src="/images/home-img/partner_logo_8_270x.png" alt=""></a></div>
				</div>
			</div> <!-- end bottom-partner -->
			</div>
			<div class="bottom-products">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="product-listing-item-1">
							<h4>Featured product</h4>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/GamePad_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Black Fashion Sample</a>
									<div class="listing-price">$380.00 <span>$500.00</span></div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/WirelessSound_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Coneco Product Sample</a>
									<div class="listing-price col-none">$310.00 </div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/LaptopYoga_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Daltex Product Sample</a>
									<div class="listing-price">$310.00 <span>$500.00</span></div>
								</div>
							</div>
						</div>
					</div>
					<!-- end product-listing-item-1 -->

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="product-listing-item-2">
							<h4>Featured product</h4>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/Photocamera_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Donkix Fashion Sample</a>
									<div class="listing-price">$60.00 <span>$80.00</span></div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/Tablet_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Fixair Product Sample</a>
									<div class="listing-price col-none">$210.00 </div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/Earphones_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Daltex Product Sample</a>
									<div class="listing-price col-none">$149.99 </div>
								</div>
							</div>
						</div>
					</div>
					<!-- end product-listing-item-2 -->

					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="product-listing-item-3">
							<h4>Featured product</h4>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/Laptop_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Golddax Fashion Sample</a>
									<div class="listing-price col-none">$120.00 </div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/MobilePowerBank_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Kaydex Product Sample</a>
									<div class="listing-price ">$450.00 <span>$500.00</span></div>
								</div>
							</div>
							<div class="listing-item">
								<a href=""><img src="/images/home-img/Phone_100x.jpg" alt=""></a>
								<div class="product-listing">
									<a href="">Kelend Product Sample</a>
									<div class="listing-price">$330.00 <span>$400.00</span></div>
								</div>
							</div>
						</div>
					</div>
					<!-- end product-listing-item-3 -->
				</div>
			</div> <!-- end bottom-products -->
		</div> <!-- end container -->
	</section> <!-- end shopify-section-bottom -->

	<footer id="footer-content">
		<div class="widget-newsletter">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="newsletter-title"><i class="fa fa-paper-plane"> </i>Sign up to Newsletter</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="newsletter-text">...and receive <span> $20 coupon for  first shopping.</span></div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<form action="">
							<input type="email" class="form-ft" name="email" placeholder="Enter your email address">
							<input type="submit" id="ftSubmit" value="Submit">
						</form>
					</div>
				</div>
			</div>
		</div> <!-- end widget-newsletter -->
		<div class="container footer-content">
			<div class="footer-widget">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
						<div class="logo"><img src="/images/logo.png" alt=""></div>
						<div class="support-box-1">
							<i class="fas fa-headset"></i>
							<div class="text-box">
								<span>Got question? Call us 24/7!</span><br>
								<span>(080) 5324 5796</span>
							</div>
						</div>
						<div class="support-box-2">
							<span>Contact info</span>
							<p>Osaka, Japan, Yodogawa, Kamishinjou</p>
						</div>
						<div class="widget-social">
							<ul class="social-item">
								<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-instagram"></i></a></li>
								<li><a href=""><i class="fab fa-line"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
						<div class="ft-title"><h4>Find In Fast</h4></div>
						<ul class="ft-text-content">
							<li><a href="">Accessories</a></li>
							<li><a href="">Gaming</a></li>
							<li><a href="">Laptop & Computer</a></li>
							<li><a href="">Mac Computer</a></li>
							<li><a href="">Pc Computer</a></li>
							<li><a href="">Ultrabooks</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
						<div class="ft-title"><h4>Infomation</h4></div>
						<ul class="ft-text-content">
							<li><a href="">About Us</a></li>
							<li><a href="">Contact Us</a></li>
							<li><a href="">All Colection</a></li>
							<li><a href="">Privacy policy</a></li>
							<li><a href="">Term & Conditions</a></li>
						</ul>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
						<div class="ft-title"><h4>Customer Care</h4></div>
						<ul class="ft-text-content">
							<li><a href="">My Account</a></li>
							<li><a href="">Whishlist</a></li>
							<li><a href="">Shopping Cart</a></li>
							<li><a href="">FAQs</a></li>
						</ul>
					</div>
				</div>
			</div> <!-- end footer-widget -->
		</div>
		<div class="footer-bottom">
			<div class="container ">
				<div class="signature">
					<div class="code">Copyright &copy; Your Website 2018 <span> Developer Đức'Kừ</span>
					</div>
					<div class="shashin"><img src="/images/home-img/patment-icon_325x.png" alt=""></div>
				</div>
			</div>
			<div class="buttonIcon" id="lennao"><i class="fas fa-chevron-up"></i></div>
		</div>
	</footer>