<header class="header-content">
	<div class="header-container">
		<div class="menu-top-1">
			<div class="container">
				<div class="top-bar">
					<ul class="top-bar-list">
						<li><span>30 days</span> free return</li>
						<li><span>24/7</span> customer service</li>
						<li><span>best</span> worldwide delivery</li>
					</ul>
					<div id="google-translate">
						<select class="language">
							<option value="">Choose Language</option>
							<option value="ja">Japanese</option>
							<option value="vi">Vietnamese</option>
							<option value="zh-CN">Chinese</option>
						</select>
					</div>	
				</div> 
				<!-- end top-bar -->
			</div>
		</div>
		<!-- end menu-top-1 -->

		<div class="menu-top-2">
			<div class="container">
				<div class="top-bar-two">
					<div class="top-bar-left">
						<ul class="list-left">
							<li><i class="fa fa-phone"></i> <span>(+080) 5324 5796</span></li>
							<li><i class="fa fa-envelope"></i> <span>lexuanduc109@gmail.com</span></li>
						</ul>
					</div>
					<div class="top-bar-right">
						<ul class="list-right">
							<li><a href=""><i class="fa fa-map-marker"></i> Store Location</a></li>
							<li><a href=""><i class="fa fa-truck"></i> Your Order</a></li>
							<li><a href="">USD <i class="fa fa-angle-down"></i></a></li>
							<li>
								{{#if user}}
									<a class="btn btn-default logout user-login" href="/user/profile"><span>Hello {{user.firstName}} {{user.lastName}}</span></a>
									<a class="btn btn-warning logout" href="/user/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
								{{ else }}
									<a href="/user/signin"><i class="fa fa-user"></i> ログインする </a>
									<span> or </span>
									<a href="/user/signup"><i class="fa fa-user"></i> 新規社員登録 </a>
								{{/if}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end menu-top-2 -->
	</div>
	<!-- end header-container -->

	<div class="header-main">
		<div class="container">
			<div class="wrapper-main">
				<div class="header-logo">
					<a href="/"><img src="/images/logo.png" alt=""></a>
				</div>
				<div class="search">
					<form action="">
						<input type="text" placeholder="Search">
						<button id="btnSearch" ><i class="fa fa-search"></i></button>
					</form>
				</div>
				<div class="icons-items">
					<ul class="header-list-icons">
						<li>
							<a href="">
								<i class="fas fa-redo-alt"></i>
								<span id="repeat-number">0</span>
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-heart"></i>
								<span id="heart-number">0</span>
							</a>	
						</li>
						<li class="prew">
							<i class="fa fa-cart-plus"></i>
							<span id="cart-number">
								{{# if session.cart.totalPrice}}
	            					{{ session.cart.totalPrice }}
	            				{{ else }} 0
	          					{{/if}}
          					</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- End .wrapper-main -->
		</div>
	</div>
	<!-- End .header-main -->
	
	<div class="header-navigation d-none d-lg-block">
		<div class="container">
			<div class="menu-nav">
				<div class="navigation">
					<div class="menu-left">
						<i class="fa fa-list-ul"></i>
						<span>Shop By Collection </span>
						<nav class="navbar vertical-navbar">
							<div class="collapse navbar-collapse">
								<ul class="main-nav ">
									<li><a href="#">TV & Audio</a></li>
									<!-- Start Gadgets -->
									<li class="nav-gadgets">
										<div class="gadgets-left">
											<a href="#">
												Gadgets <sup class="label label-primary"> Hot</sup>
												<i class="fa fa-chevron-right"></i>
											</a>
										</div>
										<div class="gadgets-right" >
											<div class="row row-nav" style="min-height: 400px; background:url(/images/home-img/vertical_mega_menu_bg_img_2.png) no-repeat bottom right #fff;">
												<div class="col-4" ><!-- col-sm-4 col-sm-offset-2 text-left -->
													<a href=""><span>Watchs</span></a>
													<ul class="list-warchs">
														<li><a href="">All Watches</a></li>
														<li><a href="">Men's Watches</a></li>
														<li><a href="">Women's Watches</a></li>
														<li><a href="">Kid Watches</a></li>
														<li><a href="">Premium Watches</a></li>
													</ul>
												</div>
												<div class="col-4-2"><!-- col-sm-4 col-sm-push-2 -->
													<a href=""><span>Eyes</span></a>
													<ul class="list-eyes">
														<li><a href="">Men’s Sunglasses</a></li>
														<li><a href="">Women’s Sunglasses</a></li>
														<li><a href="">Spectacle Frames</a></li>
														<li><a href="">All Sunglasses</a></li>
														<li><a href="">Amazon Fashion</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<!-- End Gadgets -->

									<!-- Start All in one -->
									<li class="nav-in-one">
										<div class="all-one-left">
											<a href="#">All in one<i class="fa fa-chevron-right"></i></a>
										</div>
										<div class="all-one-right" >
											<div class="row row-nav" style="min-height: 400px; background:url(/images/home-img/vertical_mega_menu_bg_img_1.png) no-repeat bottom right #fff;">
												<div class="col-4">
													<div class="col-left-top">
														<a href=""><span>Computers & Accessories</span></a>
														<ul class="list-com-acc">
															<li><a href="">All Computers & Accessories</a></li>
															<li><a href="">Laptops, Desktops & Monitors</a></li>
															<li><a href="">Printers & Ink</a></li>
															<li><a href="">Networking & Internet Devices</a></li>
														</ul>
													</div>
													<div class="col-left-bottom">
														<a href=""><span>Mobiles & Tablets</span></a>
														<ul class="list-mob-tab">
															<li><a href="">Cases & Covers</a></li>
															<li><a href="">Android Mobiles</a></li>
															<li><a href="">Windows Mobiles</a></li>
														</ul>
													</div>
												</div>
												<div class="col-4-2">
													<div class="col-left-right">
														<a href=""><span>Audio & Video</span></a>
														<ul class="list-au-vi">
															<li><a href="">All Cameras & Photography</a></li>
															<li><a href="">Camera Accessories</a></li>
															<li><a href="">Digital SLRs</a></li>
															<li><a href="">Security & Surveillance</a></li>
															<li><a href="">Binoculars & Telescopes</a></li>
															<li><a href="">Camcorders</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
									<!-- End All in one -->

									<!-- Start Accessories -->
									<li class="nav-acc">
										<div class="acc-left">
											<a href="">Accessories<i class="fa fa-chevron-right"></i></a>
										</div>	
										<div class="acc-right">
											<div class="wrap-acc">
												<ul class="acc">
													<li><a href="">Cameras</a></li>
													<li><a href="">Software</a></li>
													<li><a href="">Phones & PDAs</a></li>
													<li><a href="">MP3 Players</a></li>
												</ul>
											</div>
										</div>
									</li>
									<!-- End Accessories -->

									<!-- Start GamingNew -->
									<li class="nav-gam">
										<div class="gam-left">
											<a href="">GamingNew <sup class="label label-primary"> New</sup><i class="fa fa-chevron-right"></i>
											</a>
										</div>
										<div class="gam-right">
											<div class="wrap-gam">
												<ul class="gam">
													<li><a href="">Headphone</a></li>
													<li><a href="">Mouse</a></li>
													<li><a href="">Keyboard</a></li>
												</ul>
											</div>
										</div>
									</li>
									<!-- End GamingNew -->
									
									<li><a href="">Laptop & Computer</a></li>	
									<li><a href="">Mac Computers</a></li>	
									<li><a href="">PC Computer</a></li>	
									<li><a href="">Ultrabooks</a></li>	
									<li><a href="">Printers & Ink</a></li>		
								</ul>
							</nav>
						</div> <!-- end menu-left -->
					<div class="menu-right">
						<ul class="list-home">
							<li><a href="#">Home</a></li>
							<li class="dropdown-catalog">
								<div class="dropdown-inner">
									<a href="#">Catalog
										<sup class="label label-primary"> New</sup>
										<i class="fa fa-chevron-down"></i>
									</a>
								</div>	
								<div class="catalog" style="min-height: 100px; background:url(/images/home-img/mega_menu_bg_img_1.jpg) no-repeat top right #fff;">
									<div class="catalog-1">
										<a href=""><span>Laptop</span></a>
										<ul class="list-catalog">
											<li><a href="">Toshiba</a></li>
											<li><a href="">Samsung</a></li>
											<li><a href="">Lenovo</a></li>
											<li><a href="">Dell</a></li>
											<li><a href="">Apple</a></li>
											<li><a href="">Acer</a></li>
										</ul>
									</div>
									<div class="catalog-2">
										<a href=""><span>Shop Pages</span></a>
										<ul class="list-catalog">
											<li><a href="">Shop Full Width</a></li>
											<li><a href="">Shop Left Sidebar</a></li>
											<li><a href="">Shop Right Sidebar</a></li>
											<li><a href="">Shop Sub Collection</a></li>
											<li><a href="">Quick Buy Conllection</a></li>
										</ul>
									</div>
									<div class="catalog-3">
										<a href=""><span>Single Product Pages</span></a>
										<ul class="list-catalog">
											<li><a href="">Single Product Extended</a></li>
											<li><a href="">Single Product Sidebar</a></li>
											<li><a href="">Group Product</a></li>
											<li><a href="">Discount Popup Product</a></li>
										</ul>
									</div>
								</div>
							</li>
							<!-- End Catalog -->
							<li class="dropdown-blog">
								<div class="dropdown-inner hot">
									<a href="#">Blog
										<sup class="label label-primary"> Hot</sup>
										<i class="fa fa-chevron-down"></i>
									</a>
								</div>
								<div class="blog">
									<div class="blog-1">
										<ul class="list-blog">
											<li><a href="">blog style 01</a></li>
											<li><a href="">blog style 02</a></li>
										</ul>
									</div>
								</div>
							</li>
							<!-- End Blog -->
							<li class="dropdown-pages">
								<div class="dropdown-inner">
									<a href="#">Pages
										<i class="fa fa-chevron-down"></i>
									</a>
								</div>
								<div class="pages">
									<div class="pages-1">
										<ul class="list-pages">
											<li><a href="">Abous Us</a></li>
											<li><a href="">Contact Us</a></li>
											<li><a href="">FAQs</a></li>
											<li><a href="">Term & Condition</a></li>
										</ul>
									</div>
								</div>
							</li>
							<!-- End Pages -->
							<li class="dropdown-features">
								<div class="dropdown-inner sale">
									<a href="#">Features
										<sup class="label label-primary"> Sale</sup>
										<i class="fa fa-chevron-down"></i>
									</a>
								</div>
								<div class="features">
									<div class="feature-1">
										<ul class="list-feature">
											<li class="product-1">
												<div class="product">
													<a href=""><span>Daltex Product Example</span>
														<img src="/images/home-img/LaptopYoga_370x.jpg" alt="">
													</a>
													<p class="price">$200.00<span>$250.00</span></p>
												</div>
											</li>
											<li class="product-2">
												<div class="product">
													<a href=""><span>Daltex Product Example</span>
														<img src="/images/home-img/WirelessSound_370x.jpg" alt="">
													</a>
													<p class="price"><span>$310.00</span></p>
												</div>
											</li>
											<li class="product-3">
												<div class="product">
													<a href=""><span>Daltex Product Example</span>
														<img src="/images/home-img/Photocamera_370x.jpg" alt="">
													</a>
													<p class="price">$60.00<span>$80.00</span></p>
												</div>
											</li>
											<li class="product-4">
												<div class="product">
													<a href=""><span>Daltex Product Example</span>
														<img src="/images/home-img/MobilePowerBank_370x.jpg" alt="">
													</a>
													<p class="price">$450.00<span>$500.00</span></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- end Features -->
							<li><a href="#">Gift Cards</a></li>
						</ul>
						<span class="service">Free Shipping on Orders $500+</span>
					</div>				
				</div> 
				<!-- end .navigation -->
			</div> 
			<!-- end .menu-nav -->
		</div> 
		<!-- end container -->
	</div>
	<!-- end .header-navigation -->
</header>

